[2014-03-07 04:10] bandali opened #1 "Replace the lock screen ?"
Hi there,

I really love this app; would it be possible to have an option to replace the ROM lockscreen?

[2014-03-18 03:43] #1 closed, assigned to nobody

[2014-03-25 13:59] chicgeek opened #3 "Nexus 5: Immersive mode instructions reappear"
Hey Artem,

I'm using a Nexus 5 on KitKat 4.4.2. While using ACDisplay, the immersive mode instructions often appear with the notifications:

[code]

I realise this is likely a KitKat issue as it seems to happen with other immersive apps, but if you're willing to investigate this SO post might be a good place to start:
- http://stackoverflow.com/questions/20075041/immersive-mode-instructions-reapp

[2014-03-29 10:29] ProLoser opened #4 "Add ability to blacklist apps"
Although I am going to give disabling low priority a try I might also like to see the ability to hide notifications from things like app store updates.

[2014-03-30 11:30] #4 closed, assigned to nobody

[2014-04-03 16:29] hadiskeini opened #5 "Reproducable "Unfortunately, AcDisplay has stopped." error"
When you receive a notification, hold your finger on the icon, then tap the notification itself with another finger while the first finger is still on the icon. It causes the mentionted error message.

[2014-04-12 13:29] #5 closed, assigned to nobody

[2014-04-15 22:16] JWesCampbell opened #6 "Interrupts Bluetooth initiated calls"
Have to unlock acdisplay for the call to start. (Nexus 5, Stock 4.4.2, Rooted)

[2014-04-23 15:45] #6 closed, assigned to AChep

[2014-04-24 14:58] SMillerDev opened #9 "Fixed Pull request"

[2014-04-24 14:58] #9 closed, assigned to nobody

[2014-05-07 17:11] lachesis opened #12 "Pocket Mode?"
I saw the following lines in the FAQ on Google Play:

[code]

I assume pocket mode refers to the ability of the phone to turn on the display briefly whenever it is removed from your pocket, likely using the proximity sensor and/or accelerometer.

In the Moto X, one of the low power application processors is dedicated to this task. In other devices, won't we suffer a pretty significant battery drai

[2014-05-07 18:05] #12 closed, assigned to nobody

[2014-05-23 20:10] #3 closed, assigned to nobody

[2014-06-20 18:38] lvalladares opened #19 "Bugs at 2.4"
Hello! i've been testing the version you've uploaded to dropbox and for now i've encountered some little bugs:

The proximity sensor its turning on the screen correctly but isnt turn it off, i mean, if the screen is on on the app (On the notification lockscreen i mean) and i block the sensor nothing happens, it supposed to turn off the screen.

The blur of the songs artwork its too hard, and somet

[2014-06-20 22:23] lvalladares opened #20 "Proximity sensor active mode issue"
The proximity sensor should put the screen on when is "unblocked" (i dont know what term use) and put the screen of when it is blocked for some seconds.

The issue i've found is the proximity sensor doesnt put the screen off when is "blocked", its easy to test, just put the screen on (for example with the lock button of your device) and the block the proximity sensor with your finger, you will see

[2014-06-20 22:25] lvalladares opened #21 "Albums artwork"
The new mussic control has two little "issues" with the album artwork.

The fist one: The image its too blurred and you can difference between some artworks, maybe reducing the blur a little would help

Second: if you have a background and then the album artwork appear you get some sort of weird image where you cant see anything, maybe you should make the background change to the album artwork whe

[2014-06-20 22:28] lvalladares opened #22 "Block phone setting"
In the setting of the phone you can set a "timeout" for the phone to block, 5 minutes or so of inactivity block your phone, less of the configured doesnt block it.

The problem with AcDisplay is directly related with google policy, when a device administrator turn the screen of, the only way to do it its blocking your phone, so, everytime AcDisplay put your screen off by any mean the phone gets bl

[2014-06-20 22:28] #19 closed, assigned to nobody

[2014-07-16 12:56] indrora opened #24 "Support for outgoing notifications"
I maintain a fork of yaaic called [Atomic](/indrora/atomic) and want to make sure that some of my users, who use acDisplay, can get notifications from my application.

To conserve having a million and one icons, I use a service/sticky notification. Though I realize that having every one of these could lead to a horrible mess of icons in acDisplay, a whitelist would be a wonderful thing.

[2014-07-24 15:56] #21 closed, assigned to AChep

[2014-08-25 18:07] wilkster opened #26 "Notification not displayed if phone is checked too quickly"
I found a case where the screen isn't coming on after a notifications. What happens is I have the phone face down (or im my pocket) and hear the notification sound. I turn the phone over immediately and the screen doesn't come on (but notification icon is blinking). No matter how long I wait it never turns on. If I turn it back over (hiding the sensor) and wait a few more seconds, and then look at

[2014-08-29 07:31] #24 closed, assigned to AChep

[2014-09-14 21:39] moneytoo opened #27 "Auto display of notification after a wake up"
I put my phone in a desktop stand so it's comfortable for me to view notifications even without touching the phone. Android auto-expands the first notification so I would like something similar from AcDisplay - to auto open either the first one or (better) the latest incoming notification. (As I use "Wake up on notification").
I already tried calling method which gets and shows the latest widget f

[2014-09-24 20:13] mapreri opened #28 "Option to disable acdisplay when running out of battery"
Per title.
I'd like both an option to disable the active mode and one to disable all acdisplay.

Thanks for developing acdisplay.

[2014-09-28 13:43] seanrand opened #29 "Daydream service"
I currently use AcDisplay as lockscreen replacement and figured it would be nice if AcDisplay provided an option to disable the automatic inactivity sleep timer when the phone is docked or charging. That way it could be used as a simple, nice desk clock.

Alternatively (or additionally), I suppose AcDisplay could also implement the Daydream API to provide desk clock functionality without much codi

[2014-11-06 22:58] ulfklose opened #30 "Capitalization with the German language"
The translated string reads (this is (almost) correct)

Aktiv Modus, Sperrbildschirm

The app displays (which is not correct):

Aktiv modus, sperrbildschirm

Please see this screenshot:

![screenshot_2014-11-06-23-51-12](https://cloud.githubusercontent.com/assets/47573/4945487/4bbe89b8-6608-11e4-866f-e573883f7caa.png)

[2014-11-12 02:25] KuraudoXS opened #31 "Lockscreen stock bypassing AcDisplay"
Hi guys, great app! I hope you resolve this bug.

If I tap home button (physical button) twice, the stock lockscreen appears, can you fix it?

PS: Another thing that i've realized. Sometimes when I wake up the phone, lockscreen stock appears directly bypassing AcDisplay (I think when the phone goes in deep mode).

(from galaxy s4, 4.4.2)

[2014-11-19 20:17] SolarLiner opened #33 "Controllable blur on backgrounds"
Found AcDisplay yesterday; as my Xperia Z2 doesn't feature full screen media art in the lockscreen for some reason (I am on version 4.4.4 though, but that's besides the point), this app has become my new lockscreen, and I don't really like having the beautiful album art blurred, however, I like having my launcher wallpaper blurred.
What would be nice is to have options in the lockscreen settings t

[2014-11-20 09:31] Mosrite opened #34 "Problems with notifications from ProxyDroid"
I'm using AcDisplay on my LG P880 with CM11. It works fine except for notifications from the app ProxyDroid (https://play.google.com/store/apps/details?id=org.proxydroid). Everytime the app disconnects from or connects to a proxy it triggers a notification. I don't want my screen to wake up for this though. Therefore, I added ProxyDroid to the blacklist.
However, AcDisplay still turns on the scree

[2015-01-13 07:29] Mosrite commented on #34
Is this commit already implemented? I still experience the issue described above.

[2015-01-15 02:19] afollestad commented on #31
You need to turn the stock lock screen off by switching Security > Screen Lock to "None". There's no way for an app to do that for obvious security reasons.

[2015-01-15 02:19] afollestad commented on #26
It still happens occassionally

[2015-01-15 02:20] afollestad commented on #28
It shouldn't really affect battery too much, especially when you have an AMOLED display. It will actually save battery with an AMOLED display, since black pixels are off and use no energy (if you don't show a wallpaper that is).

[2015-01-15 02:21] afollestad opened #36 "Heads up notifications are displayed when in the lock screen"
This is redundant and interrupts the black lock screen flow. Not sure if there's a way to prevent heads up notifications while AcDisplay is active or not.

[2015-01-15 13:25] AChep commented on #36
This will stay open, but there's no solution for the stock HeadsUp. However, you may want to stare this issue: https://code.google.com/p/android/issues/detail?id=79393

[2015-01-15 13:26] AChep commented on #34
@Mosrite yes, AcDisplay v3.0 or greater should be fine with it.

[2015-01-15 13:27] AChep commented on #29
Yes, definitely the Daydream should be implemented.

[2015-01-16 05:55] afollestad opened #37 "Lollipop notification mode should be respected"
E.g. if the notification mode is "priority", the screen should stay off rather than waking up briefly when a notification is received. Obviously the "None" mode would have to go into that too.

[2015-01-16 12:03] AChep commented on #37
Implemented with https://github.com/AChep/AcDisplay/commit/52dc74d978d1edbc55e0a1a70bbd6e601dff5dd8

[2015-01-16 12:03] #37 closed

[2015-01-16 16:09] afollestad commented on #37
Thank you, definitely gonna donate soon

[2015-01-16 17:57] Mosrite commented on #34
I'm sorry but I updated today and it doesn't!

[2015-01-16 23:48] afollestad opened #38 "Lockscreen is blank when music is playing on Lollipop"
This appears to be an issue with a lockscreen widget not working properly:

![screenshot_2015-01-16-17-47-37](https://cloud.githubusercontent.com/assets/1820165/5786267/dbb30f5e-9da7-11e4-9b1b-d39bab1359f2.png)

[2015-01-17 14:26] AChep commented on #38
Does it happen with version 3.0.2?

[2015-01-17 17:50] highfiverobot opened #39 "Track info/skip buttons do not appear on KitKat"
[Screenshot](http://i.imgur.com/9rjfzyw.jpg)

I believe this is similar to the bug listed for Lollipop, just posting to confirm it's not just a Lollipop issue.

As a side note, is there a way I can get the previous version of AcDisplay until this bug is fixed?

It happens enough that it makes the program unusable for me.

[2015-01-17 17:51] afollestad commented on #38
Yeah, it happens with the latest version

On Sat, Jan 17, 2015, 8:26 AM Artem Chepurnoy <notifications@github.com>
wrote:

[2015-01-19 06:21] bitchcakes opened #41 "Suggestion: Fast way to toggle on LED/Flashlight"
I use the flashlight a lot more than I'd like to admit and this would be awesome. maybe like a double tap or hold down both volume buttons?

[2015-01-19 18:46] afollestad opened #42 "Force text and icons to be white with the black background mode"
Notifications should be forced to use white text, and white icons (`setColorFilter(Color.WHITE, PorterDuff.Mode.MULTIPLY)` on an `ImageView` or `Paint` instance). They should already be white on API 11 and above, but apps like Inbox have faded-looking icons.

[2015-01-19 20:01] AChep commented on #42
What icons & text? Action items?

[2015-01-19 20:12] afollestad commented on #42
This screenshot might help illustrate what I mean.

![rsz_screenshot_2015-01-19-14-08-20](https://cloud.githubusercontent.com/assets/1820165/5807067/0918882c-9fe5-11e4-9032-f9339f4e8c05.png)

The expandable actions ("Done" and "Reply All") have text and icons that are a shade of gray, rather than white. The icon for the app itself at the bottom is also a faded gray color. Other apps however have o

[2015-01-19 20:15] afollestad commented on #38
Still happens with 3.0.4 too

[2015-01-19 20:16] afollestad commented on #39
You can get previous versions from the Releases page: https://github.com/AChep/AcDisplay/releases

[2015-01-21 12:20] Falx commented on #38
I can confirm that it happens on 3.0.4. too. Had it happen in 3.0.2 while connected to usb charging in my car.

[2015-01-22 15:32] AChep commented on #42
https://github.com/AChep/AcDisplay/commit/f518137dc03ca02ee0f492e54477a569daaf6be3

[2015-01-22 15:32] #42 closed

[2015-01-22 22:09] eurochild-dps opened #44 "wrong toast messages when enabling / disabling acdisplay"
when using tasker to enable/disable acdisplay via the provided intents the toast messages are reversed.
When is enabled the toast message shows "AcDisplay is disabled"
and when is disabled the toast message shows "AcDisplay is enabled"

[2015-01-23 05:46] Guru24 commented on #38
This is still seen in 3.05 :(

[2015-01-23 16:43] AChep commented on #44
https://github.com/AChep/AcDisplay/commit/ee52a7b7b7e7ea80ba3becec9c68b4933b7b2dfb

[2015-01-23 16:43] #44 closed

[2015-01-25 21:02] AChep commented on #39
Should be fine now. https://github.com/AChep/AcDisplay/commit/c57526c8f88fe65a180c8c91e18d300db7af5a26

[2015-01-25 21:02] #39 closed

[2015-01-25 21:02] AChep commented on #38
Should be fine now. https://github.com/AChep/AcDisplay/commit/c57526c8f88fe65a180c8c91e18d300db7af5a26

[2015-01-25 21:02] #38 closed

[2015-01-26 03:51] afollestad commented on #38
I can confirm that it's fixed, thanks for your awesome work

[2015-01-26 12:28] mpalermo73 opened #45 "Timeout Countdown"
Hey!

I recently upgraded to these development builds from the Play Store build and I notice that the little "timeout countdown" bar is missing.  It was a series is dots that counted down the screen-on time until AcDisplay locked the phone again.  It would be nice to have this back - at least as an option.

Thank you!

M.

[2015-01-26 12:52] AChep commented on #45
It's still here.

[2015-01-26 16:02] #45 closed

[2015-01-26 19:06] afollestad opened #46 "Right half of music controls get cut off"
Seems to happen when a song is done and it moves onto the next song in the queue. I'm using Lollipop on a Nexus 6.

[2015-02-02 05:11] afollestad opened #47 "White color filter should be added to expandable action icons"
This is a notification from an OTA beta testing system in one of my apps. There should be a little download icon next to the "Download" text, but it's a black icon. AcDisplay should add a white color filter to expandable action icons when the black background is enabled in order to make it visible.

![rsz_screenshot_2015-02-01-23-04-19](https://cloud.githubusercontent.com/assets/1820165/5996086/74

[2015-02-07 16:03] rodjun opened #48 "Compatibility with Motorolas own active display"
I'm using AcDisplay mostly as a lock screen replacement because I think that the default active screen on Motorola reacts better and probably uses less battery(it's a native app after all). My problem is that when I unlock my phone directly from Motorolas active screen I still see AcDisplay instead of directly unlocking my phone. I believe that the bug relies on the way Motorola "quick unlocks" th

[2015-02-08 18:57] afollestad opened #49 "Active mode is a little glitchy"
If I set my Nexus 6 (with Lollipop) down, with active mode on, it'll wake up the screen every 5 seconds or so even when I have no notifications.

[2015-02-11 13:29] bnussman opened #50 "Samsung S5 Lollpop"
Spotify doesn't connect and show audio controls or cover art on the lock screen after I updated to Android 5.0 in my Samsung Galaxy S5

[2015-02-11 19:11] AChep commented on #50
What version of AcDisplay? What firmware? Does it work with other players? _IS IT ACDISPLAY V2.X?_

[2015-02-12 03:23] bnussman commented on #50
I'm on 2.4.7 of AcDisplay. My "model number" is SM-G900V. My "hardware version" is G900.05. Pandora does not work.

[2015-02-12 03:24] afollestad commented on #50
@bnussman 2.4.7 is not for Lollipop. Did you notice the current version in this repository is much higher (3.0+)? It's designed for Lollipop, the Play Store version is not.

[2015-02-12 03:25] bnussman commented on #50
OHHH! My bad, I should have seen that! Thanks @afollestad

[2015-02-12 03:40] bnussman commented on #50
When I try to turn on the lock screen, I get this, when I try to open "Usage stats" nothing happens!
![Image of screenshot](https://i.imgur.com/smYzJ46.png)

http://i.imgur.com/smYzJ46.png

[2015-02-12 13:09] bnussman commented on #50
Nevermind about that ^
I am on 3.0.10 of AcDisplay, and the Music controls are a bit messed up...

![acdisplay](http://i.imgur.com/Emvx6nB.jpg)

[2015-02-17 00:39] afollestad commented on #46
Thought I might as well add an image to help explain:

![acdisplay](https://cloud.githubusercontent.com/assets/1820165/6221588/1ba76d64-b60b-11e4-8369-81ad100522f4.png)

[2015-02-21 19:07] AChep commented on #47
Yeah, but forcing white color may break colorful action icons (which are really bad)...

[2015-02-23 01:54] nmc251o opened #51 "Amazon MP3 Music"
When listening to music from Amazon MP3, the lock screen is bypassed and the music player is opened automatically.

[2015-02-23 10:28] AChep commented on #51
What is its package name?

[2015-02-23 23:50] afollestad commented on #47
Well, they shouldn't ever be colorful. They're by the design guidelines supposed to be white on Jellybean/KitKat, and black on Lollipop (based on the background color of the notification itself). @AChep

[2015-02-23 23:50] afollestad commented on #47
Same with the actual app icons, they should always be white, since the status bar is always a dark color.

[2015-02-24 01:51] nmc251o commented on #51
After I reported I found out it was a problem with Amazon. Sorry
On Feb 23, 2015 3:29 AM, "Artem Chepurnoy" <notifications@github.com> wrote:

[2015-02-24 09:23] AChep commented on #46
Should be fixed by https://github.com/AChep/AcDisplay/commit/d9180d62e25f794873cd7124b0a4d021ce53532b

[2015-02-24 09:23] #46 closed

[2015-02-24 09:24] AChep commented on #50
Should be fixed by https://github.com/AChep/AcDisplay/commit/d9180d62e25f794873cd7124b0a4d021ce53532b

[2015-02-24 09:24] #50 closed

[2015-02-24 09:24] #51 closed

[2015-02-24 12:27] AChep commented on #47
https://github.com/AChep/AcDisplay/commit/a91a1d3d178bae6a4d4d260ea99d7dcb9fa1462c

[2015-02-24 12:27] #47 closed

[2015-02-24 14:01] ZahidDev opened #52 "No Notifications with Disa Messenger"
Notification appears as heads up, but doesn't display on the lock screen itself.

[2015-02-24 14:05] zahidislm opened #53 "Feature Request: Swipe Gestures"
Implement swipe left/right actions for fast camera/dialpad access. Enable option to turn this feature on/off.

[2015-02-24 14:08] ZahidDev opened #54 "Feature Request: Lock Tones"
Allow user customization of locking/unlocking tone.

[2015-02-24 14:10] ZahidDev commented on #49
Not seeing this behavior on my nexus device on the latest beta build. Could the curved design of the nexus 6 be the problem?

[2015-02-24 16:10] afollestad commented on #47
Thank you!

[2015-02-24 16:14] afollestad commented on #48
Motorola's is proprietary and is designed to work with their hardware (for battery efficiency). So I'm guessing there's not much that can be done about this.

[2015-02-25 04:48] anbroid opened #55 "Add option to disable locking"
Please add a setting to disable locking the screen, or allow the sleep timers to go to 0 (meaning turning off the screen will be left to android). Rationale: android allows automatic locking as much as after 30 minutes after using the phone, which is independent of the display timeout (typically set to 30 seconds). However the current behavior of AcDisplay locks our phones even though though we do

[2015-02-25 05:23] anbroid opened #56 "Make double tap configurable"
Double tap locks the screen. In my case this is undesirable. I use double tap in my phone to wake the screen however this is not always reliable, so sometimes need to tap the screen multiple times to wake the phone but if not careful the phone wakes and we accidentally doubletap AcDisplay which locks the phone again. It happens to me feequently so it would be nice to be able to disable the double

[2015-02-25 08:33] AChep commented on #56
Alternatively, allow AcDisplay to operate without being device administrator, meaning it will perform all functions except turning off the screen. Currently AcDisplay refuses to operate if it is not device administrator.

No, cause it will break the custom screen off timer.

[2015-02-25 16:34] anbroid commented on #56
Yes, the screen off timer would not work. But as long as there is no screen wakelock held by acdisplay, the android screen timeout will turn off the screen. So it could be desireable for some users (especially non-savvy ones who have trouble uninstalling apps that are device administrator :-) ) and maybe you could use this approach if you also do #55 (option to disable sleep timer). Just a thought

[2015-03-03 08:22] entonjackson commented on #31
I use CM profiles. And for each profile there is a different lockscreen setting. For example: Outside setting has PIN security, whereas Home setting has no security.
Could it be possible in any way to:
1. add PIN security to AcDisplay
2. make usage of the security settings in AcDisplay?

[2015-03-03 19:01] cameronkelley28 opened #57 "Option to Disable Shake Detection"
Following the shake detection changes in the latest update, my phone now wakes constantly while driving on rougher roads (California freeways are awful) with the phone charging. Would it be possible to add an option to disable shake detection entirely?

[2015-03-04 14:25] KuraudoXS commented on #31
Thanks afollestad, problem solved.

[2015-03-05 07:06] AChep commented on #56
An option to disable double-tap-to-sleep is here https://github.com/AChep/AcDisplay/commit/a4a0d64b8ace5a8d31b65c2b028f5320266554a8

[2015-03-05 07:06] #56 closed

[2015-03-05 07:07] AChep commented on #57
Done by https://github.com/AChep/AcDisplay/commit/7869d66e47d2a8af38cdd8e192c3f6d33a7e3015

[2015-03-05 07:07] #57 closed

[2015-03-05 20:41] highfiverobot opened #58 "[Feature Request] Option to not dim wallpaper"
Hey, great app.

I have a request to add an option to not dim the wallpaper on AcDisplay.

I purposefully choose wallpapers that don't conflict with the white display text and would love for AcDisplay to respect that.

It creates a bit of a jarring display when you go from lockscreen to homescreen, and I would love a more unified display.

Thanks, devs!

[2015-03-07 03:42] afollestad opened #59 "Issues with dark unreadable text in notifications"
I circled the block of a few lines of text in this screenshot:

![1425699650917](https://cloud.githubusercontent.com/assets/1820165/6539915/b15b5f90-c449-11e4-8633-39903b40412f.jpg)

This example is from Inbox, is also happens in Hangouts (when you receive a message that only contains an image, the "Picture" text is black).

[2015-03-07 16:23] AChep commented on #59
Yeah, I can confirm it too. I was trying to fix it some weeks ago by https://github.com/AChep/AcDisplay/commit/a6d8c8b371e7402b48ecb54f8e9bdf1924d7c34c but no luck.  Actually I have no idea how to fix it, except decompiling Inbox and checking their code. :cry:

[2015-03-08 10:29] AChep commented on #28
Here it goes https://github.com/AChep/AcDisplay/commit/20577ca291069ab38c3d0482d16922559ed1f87c

[2015-03-08 10:29] #28 closed

[2015-03-10 20:03] #52 closed

[2015-03-10 20:03] ZahidDev commented on #52
Fixed in newest update

[2015-03-11 22:06] berot3 commented on #27
This is a really essential feature. Making the screen wake up on new notifications makes only half sense if I can not read the new notification. Just seeing the new icon is not enough.
Except from this and breathing notifications I think acdisplay will be THE must have app. Thank you.

[2015-03-11 22:12] AChep commented on #27
No worries, it's planned ;)

[2015-03-21 18:32] anbroid commented on #56
Thanks! Confirmed it works in latest release!

[2015-04-02 03:01] roseyhead opened #64 "Screen turning on while proximity sensor is covered"
I've got a Note 4 running 4.4.4. Every time I get a notification from Facebook or whatever my screen turns on in my pocket and if I'm walking the phone will unlock itself with my leg and start skipping songs, rearranging my home screen etc. I'd think the app should check the proximity sensor and not turn the screen on if the sensor is covered.

[2015-04-02 04:45] AChep commented on #64
App won't turn screen on if the active mode is enabled.

[2015-04-02 04:50] roseyhead commented on #64
I've got active mode turned off currently because I tend to hit the power button out of habit when I take my phone out of my pocket. Turning it on should stop my phone from waking itself up in my pocket? I'll switch it on and see how it goes.

[2015-04-04 22:11] pietruh00s opened #65 "Unlock by home button"
HTC Desire 500 JB 4.1.2 - device unlock after pressing home button. Please add option to disable this button. I know that widgetlocker has that feature :)

[2015-04-05 14:44] murych opened #66 "Custom background"
How about adding a feature, allowing to set any custom picture as background? Would be really nice, especially when using this app as lockscreen.

[2015-04-05 17:33] Gloober opened #67 "Allow for use of the Rewind and Fast Forward buttons."
I use a Chromecast on a regular basis, and when a video is playing, sometimes I want to skip ahead a little without having to unlock my phone to do so. The pause and play buttons work, but not the forward and reverse buttons, would it be possible to add this functionality?

[2015-04-08 15:41] danamara commented on #65
Having the same issue. Please allow option to disable this feature. :(

[2015-04-08 16:42] AChep commented on #65
This is not a feature. This is an unfixable API limitation (there's no way to create custom lockscreen for Android).

[2015-04-10 10:52] AChep commented on #67
Yes, technically it's possible.

[2015-04-10 21:50] pietruh00s commented on #65
So why widgetlocker was able to block home button? :)

[2015-04-11 04:03] AChep commented on #65
@pietruh00s there's a hack -- making the AcDisplay a launcher that launches the real launchers. This workarounds the home button problem, but adds billions of evil _totally confused_ users.

[2015-04-11 11:50] AChep commented on #67
https://github.com/AChep/AcDisplay/commit/95eb0d1fccde892f41d6d1c836eff6e70a7bd83a Here we go. Long press to show the seek bar.
![device-2015-04-11-144714](https://cloud.githubusercontent.com/assets/990982/7101278/045f1624-e05a-11e4-9c6d-80e7f9823397.png) ![device-2015-04-11-144559](https://cloud.githubusercontent.com/assets/990982/7101279/09053924-e05a-11e4-9dfd-141f313da104.png)

[2015-04-11 11:50] #67 closed

[2015-04-11 19:40] pietruh00s commented on #65
I didn't know this :) So let it be as it is :D

[2015-04-12 11:11] #64 closed

[2015-04-14 22:42] aaronskyywalker opened #68 "Enable running in background without notification in drawer"

[2015-04-14 22:45] aaronskyywalker opened #69 "Add Security Features"
Security features such as a pin, password, gesture, and/or fingerprint are crucial in my opinion.

[2015-04-14 22:53] aaronskyywalker opened #70 "Doubletap to Wake"

[2015-04-15 04:05] AChep commented on #69
Right. It's not possible. Check app's  help for more information.

[2015-04-15 04:05] #69 closed

[2015-04-15 04:08] AChep commented on #70
Requires special kernel module.

[2015-04-15 04:08] #70 closed

[2015-04-15 18:15] AChep commented on #68
This is not possible without root, but should be possible with it (I have no idea how).

[2015-04-17 05:07] AChep opened #71 "Lollipop Media controller blocks the Main thread causing an ANR"
I'm getting a lot of similar ANR dumps.
[code]

[2015-04-17 10:48] Pandurzo opened #72 "Continuos screen power on"
Honor 6 - Kitkat 4.4.2.
Hello, when I receive a notification on the lockscreen (with the screen switched off) the screen turns on and if I don't open the notification, after some seconds, the screen switch correctly off but immediatly turns on again, and continues to do this until I open the notification or unlock the phone. Even if I double tap to turn off the screen, it returns on at the same.
I

[2015-04-19 08:10] Ph1b opened #73 "PlayPauseDrawable offcentered"
How can I customize the PlayPauseDrawable class? Its great, but its a bit weird bacause the play aligns left with the pause, so The play is a bit off-centered.
How can the centering be archieved?

A nice thing would be to directly use the material svg paths like here:
https://raw.githubusercontent.com/google/material-design-icons/master/av/svg/production/ic_play_arrow_24px.svg

[2015-04-19 08:13] AChep commented on #73
The Play button is defined by:
[code]

[2015-04-19 08:29] Ph1b commented on #73
Is it possible to convert a svg into such a path?

[2015-04-19 08:36] AChep commented on #73
@Ph1b yes, I think so. At least, the easiest way would be to open this icon in a graphic editor and get its points manually. For example, the simple square is:
[code]

[2015-04-19 08:50] Ph1b commented on #73
Damn, I dont understand the coordinates. I guess the order matters?

I found this:
http://www.professorcloud.com/svg-to-canvas/

Which gave me this output which I guess has the coordinates. But how can I match them to the matrix?

    var draw = function(ctx) {
    ctx.save();
    ctx.beginPath();
    ctx.moveTo(0,0);
    ctx.lineTo(24,0);
    ctx.lineTo(24,24);
    ctx.lineTo(0,24);
    ctx.close

[2015-04-19 08:57] AChep commented on #73
@Ph1b right, the order matters. Maybe this code from `TransformationDrawable` will help you:
[code]

[2015-04-19 09:05] Ph1b commented on #73
Ah okay. Since play is a rectangle, it just has 3 points, because of:

ctx.moveTo(8,5);
ctx.lineTo(8,19);
ctx.lineTo(19,12);

it would be

    private static final float[][] PLAY_MODI = {
            {1f/8f, 1f/8f, 1f/19f}, // x coordinates
            {1f/5f, 1f/ 19f, 1f/12f}  // y coordinates
    };

But thats much smaller than your play button.

Why is your play button not simply:
    private s

[2015-04-19 09:10] AChep commented on #73
@Ph1b
    Note, that VERTEX_PAUSE, VERTEX_PLAY and VERTEX_STOP must have the same number of points.
, because each point is transforming into a corresponding point of other shape (for example, `VERTEX_PLAY` -> `VERTEX_PAUSE`)

[2015-04-19 09:37] Ph1b commented on #73
Yeah now I got it, works flawless.

In case someone wants this with material icons: (directly fetched from source 1:1)

    /**
     * Pause icon
     */
    private static final float[][] VERTEX_PAUSE = {
            {10f / 24f, 6f / 24f, 6f / 24f, 10f / 24f, 10f / 24f, 14f / 24f, 14f / 24f, 18f / 24f, 18f / 24f},
            {5f / 24f, 5f / 24f, 19f / 24f, 19f / 24f, 5f / 24f, 5f / 24f, 19f / 24

[2015-04-19 09:52] AChep commented on #73
@Ph1b I think that more correct points are:
[code]
, but the result is not sharp enough, due to float coordinates and I won't include it in `master`.

[2015-04-19 09:52] #73 closed

[2015-04-19 10:00] Ph1b commented on #73
You can use:

    /**
     * Pause icon
     */
    private static final float[][] VERTEX_PAUSE = {
            {10f, 6f, 6f, 10f, 10f, 14f, 14f, 18f, 18f},
            {5f, 5f, 19f, 19f, 5f, 5f, 19f, 19f, 5f}
    };

    /**
     * Play icon
     */
    private static final float[][] VERTEX_PLAY = {
            {19f, 19f, 8f, 8f, 19f, 19f, 8f, 8f, 19f},
            {12f, 12f, 5f, 9f, 12f, 12f, 5f

[2015-04-19 10:11] Ph1b commented on #73
Another question: How can I set the image immediately without animation? When I enter a screen I sometimes want to set an initial state without the hickup-animation caused by onResume()

[2015-04-19 10:21] Ph1b commented on #73
Okay, got it. Passed a boolean that if true sets animator duration to 0, else to default value (300).

[2015-04-22 20:44] mickeydeagle opened #74 "Full screen mode buggy"
Full screen mode (which, as I understand it, hides the status bar and navigation buttons) seems to work sporadically. For example, it works fine when a new notification arrives, or if I press the sleep/wake button on my device to bring up the AcDisplay lock screen. But, if I press the sleep/wake button on my device to put it back to sleep, and then press the power button again, the status bar and

[2015-04-24 07:55] adhishthite opened #75 "Persistent Notification Bar in Galaxy S5 after Lollipop update."
Hello !

I have recently updated my Samsung Galaxy S5 to Android 5.0 Lollipop.
Whenever I pull down my notification bar to Turn Off my data/WiFi and then press the power button,
the Notification bar persists upon wakeup of the device, and the ACDisplay screen is beneath it.

It happens during Balance notifications too. Please look into this as it is extremely disturbing and inconsistent.
![screens

[2015-04-26 16:40] AChep opened #76 "Adding widget crashes on LG devices"
What the f%ck, LG?

[code]

Linked question at SO: https://stackoverflow.com/questions/25347868/system-settings-force-close-when-opening-widget-picker

[2015-04-30 07:22] ghost opened #78 "Heavy Memory Usage on Samsung devices."

[2015-04-30 07:23] adhishthite commented on #78
Almost 50 MB usage of my RAM. Please fix.

[2015-04-30 15:57] AChep commented on #78
That's not heavy.

[2015-04-30 16:49] adhishthite commented on #78
Hi !

Sorry for the short description earlier.

I am running Android 5.0 (stock) on my Galaxy S5, and the latest version of AcDisplay.

I have 2 issues:

1. 50-70 MB memory usage. For a minimal lock screen app, this usage is high. Even a heavy app like WhatsApp uses 80 MB. Please look into it

2. *ALWAYS* crashes when I open Google Play Music to play songs.

[2015-04-30 18:30] AChep commented on #78
@adhishthite can you capture a log of the crash? It would be really helpful.

[2015-04-30 19:44] Ack0 opened #79 "Bug with Podcast Addict and Pocket Casts"
*Dynamic Notification* is **not** working properly with *Podcast Addict* and *Pocket
Casts*.
The Podcast Art **Image** only appears sometimes.
Look:
http://i304.photobucket.com/albums/nn191/xkvr/AcDisplay/Pocket%20Casts_zpscugcztn2.gif
http://i304.photobucket.com/albums/nn191/xkvr/AcDisplay/Podcast%20Addict3_zpsdrahttd7.gif

The background image should be the podcast art, but AcDisplay is showing

[2015-04-30 19:47] Ack0 opened #80 "Bug with HoverChat"
When I click on **HoverChat**'s bubble the **AcDisplay** tries to "steal"
the focus and HoverChat too. The result is this:
http://i304.photobucket.com/albums/nn191/xkvr/AcDisplay/HoverChat_zpsacjvxx4w.gif
I tried with **Textra**, and everything works fine.

Moto G XT1069 Android 5.0.2

[2015-04-30 20:25] AChep commented on #79
Should be fine since https://github.com/AChep/AcDisplay/commit/e011b06111e098a27925166ee87a47b8aebe1c01

[2015-04-30 20:25] #79 closed

[2015-05-01 15:43] Ack0 opened #82 "Force close if any audio player is running"
With the version 3.4.3, if I have some audio player running and power off the screen or open AcDisplay directly, it force closes.

[2015-05-01 15:46] CarlosKhazs commented on #82
It happens to me as well.

[2015-05-01 18:52] AChep commented on #82
![image](https://cloud.githubusercontent.com/assets/990982/7435433/56472790-f04c-11e4-8840-7fb46fbf5411.png)
https://github.com/AChep/AcDisplay/commit/7db6dcd8ca945514b789339b50d2cad681dea08f

[2015-05-01 18:52] #82 closed

[2015-05-01 19:00] Ack0 commented on #82
Haha ;-)

[2015-05-01 19:03] CarlosKhazs commented on #82
Great! We know that AChep ;)

[2015-05-03 08:18] delold opened #84 "Physical navigation buttons keep vibrating when screen off"
It seems like the navigation buttons aren't turned off when the screen is off. It's a little bit annoying, as the phone may start vibrating when in a pocket.

Running on HTC Desire X, Android 4.1 (AcDisplay is in compatibility mode).

[2015-05-05 04:36] adhishthite opened #87 "Feature Request: Launch ANY App by Corner Gesture"
Hello !

Loved the 3.6 version.

I have a small feature request. Why not enable the launching of ANY user selected apps through corner gestures? Why only Dialer and Camera?
If you can include this, it'll really be helpful.

Thanks.

Also, a minor change:
When we select a gesture, the combo box that opens up shows:
'Launch a camera' and 'Launch a dialer'
The 'a' is not needed.

[2015-05-05 12:02] frmz opened #88 "Get locked / unlocked status from another app"
Hi! In my live wallpaper i am currently using "KeyguardManager.inKeyguardRestrictedInputMode()" to understand if lockscreen is currently displayed or not however my users are reporting that this is not detected correctly in ACDisplay while it works without issues in standard lockscreen, should i add something else to support ACDisplay too?

[2015-05-05 12:07] AChep commented on #88
It should be fine on KitKat or lower, but won't work correctly on Lollipop. At this moment, there's no way to fix it.

[2015-05-05 12:20] frmz commented on #88
Wow, that's quick. Any way to provide a broadcast on lock/unlock? Shouldn't be too much of a security issue and its a cheap workaround. I see a lot of users moving away from ACDisplay just because of this.

[2015-05-08 13:53] SMillerDev commented on #84
Similar to #65, maybe @AChep can merge the issues?

[2015-05-08 13:56] SMillerDev commented on #74
This is probably panic mode being activated by repeatedly turning the screen on and off. @AChep can you confirm?

[2015-05-08 16:45] AChep commented on #84
@SMillerDev nah, I don't think they are related. Anyway, @delold I need more info about your setup.

[2015-05-08 16:49] AChep commented on #74
Maybe Panic mode and something else causes this. I'm experiencing this issue from time to time on my non-affected by Panic mode CyanogenMod.

[2015-05-08 16:55] delold commented on #84
@AChep sure
 - Lock screen *on*
     - Allowed even without notifications
 - Active mode *off*
 - Wakeup on incoming notification *off*
 - Inactive time - *off*
 - Double tap to sleep - *off*

The app is running on background, as there is a running service (in the notification tray).

Turning off the AcDisplay "fixes" the issue

[2015-05-10 11:23] m1ga opened #89 "Unlock swipe direction"
When I start swiping up and then down it won't unlock.

Sometimes it happens that I start swiping down a bit before I swip up to unlock and the circle disappears so you have to start swiping again.
Would it be possible to accept both directions to unlock in one unlock-move?

And can you change the length of the swipe?

[2015-05-10 13:02] AChep commented on #89
This is needed to prevent accidental unlocking in your pocket.

[2015-05-10 13:02] #89 closed

[2015-05-12 15:15] highfiverobot opened #90 "Options to pick custom background image and not have it be dimmed"
I use Kustom Live Wallpaper, so when AcDisplay shows my wallpaper I end up having two clocks and it looks really awkward. [example](http://i.imgur.com/FWKVvxh.jpg)  It would be great if I could pick the image I want to be displayed in the background.

Additionally, it would be nice if I could choose not to dim the background no matter whether it's a custom image or my phone's background.

[2015-05-15 01:46] halcyonera opened #91 "Feature Request: Secured lock screen (PIN lock, pattern lock, etc.)"
Google brought a new 2-step lock screen for Lollipop, and sometimes it's annoying because to input PIN or draw a pattern, you have to swipe and pass the first lock screen containing clock widget and notification list. It takes one more gesture and it's not convenient. It wasn't an issue in previous versions.

It will be good if AcDisplay could have a secured lock screen feature which can replace d

[2015-05-27 15:01] frmz commented on #88
Any update?

[2015-05-27 19:29] AChep commented on #88
@frmz no, cause I'm too busy to work on the app.

[2015-06-19 14:49] huffstler commented on #72
I've had the same problem before. (granted this was 10 minutes ago, and I came here to open this very issue). The problem for me was that I use Textra and turned notifications off for it (textra), but kept screen wake on for AcDisplay. I fixed it (I think) by keeping the stock lockscreen for my phone on (just swipe mode), while still using AcDisplay as the lockscreen. I'll test some other configur

[2015-06-22 09:06] jchooo opened #92 "S5 No Lock Screen Toggle"
Just got AcDisplay for my S5 (Lollipop). It's great! Love everything except one : there is no lockscreen toggle in the settings where there is on my Moto X. Fix it please :)

[2015-06-26 06:25] hipio commented on #87
@AChep, AcDisplay is already my favorite lockscreen because I love the simplicity and minimality of it, but if you added this, it would be even more perfect!

[2015-06-26 06:29] AChep commented on #87
@hipio yeah, this feature is in my _to-do_ list. However, https://github.com/AChep/AcDisplay/blob/master/project/app/src/main/java/com/achep/acdisplay/ui/CornerHelper.java is that class.

[2015-06-26 06:37] hipio commented on #87
@AChep Thanks! I'll take a look this weekend (need to finish up some school work first) and see if I can implement it myself. I've added a $5 bounty to this suggestion as a thank you or motivation to work on this. :P

[2015-06-26 08:12] hipio commented on #87
@AChep, where can I find the dialog that shows the possible options? I have added my option, changed the config, added my stuff to the CornerHelper and all I need to do now is let the user pick an app they want to launch and save that.

[2015-06-26 08:19] AChep commented on #87
@hipio currently there's no custom dialog for that :) You'll have to create a one. Example: https://github.com/AChep/AcDisplay/tree/master/project/app/src/main/java/com/achep/acdisplay/ui/preferences

[2015-06-26 08:24] hipio commented on #87
@AChep, well, I would if I knew what happens when you press one of the corner gestures. A dialog pops up and I need to know where it was created before I can change it. :P

[2015-06-27 20:22] hipio commented on #87
@AChep Well, I got everything working, except that the icon of the app is totally black (it uses the PackageManager to extract the Drawable from a custom app, which I assign to mDrawable in CircleView in the updateIcon() function). Not sure where the Drawable is made black though. Must be an inversion somewhere as you use white icons.

[2015-06-28 12:41] hipio commented on #87
@AChep Pull request created. https://github.com/AChep/AcDisplay/pull/93#partial-pull-merging

[2015-07-02 10:02] grinn opened #94 "AcDisplay shows multiple times"
Often when I unlock my LG G3 running Lollipop I will receive a second AcDisplay lock screen within a second or two. I sometimes have to go through as many as three lock screens before it stops harassing me. There is a delay between the lock screens launching of somewhere between about 500 ms and 4 seconds. It has occurred both when using AcDisplay to launch an app from notifications, and when simp

[2015-07-03 11:52] AChep commented on #88
Here you go: `"com.achep.acdisplay.STATE_START"`, `"com.achep.acdisplay.STATE_RESUME"`, `"com.achep.acdisplay.STATE_PAUSE"`, `"com.achep.acdisplay.STATE_STOP"`.

[2015-07-03 11:52] #88 closed

[2015-07-03 14:52] frmz commented on #88
Great!

[2015-07-08 17:57] diiiz opened #96 "Gradle version not supported"
I've Gradle v2.2 and Android Studio says that this project uses an unsupported Gradle version. Please upgrade in order to checkout.

[2015-07-08 18:49] AChep commented on #96
AcDisplay requires `gradle-2.4-all` and `com.android.tools.build:gradle:1.2.+` tools. What version of Android Studio are you using?

[2015-07-09 11:01] diiiz commented on #96
I'm using AS 1.3

[2015-07-10 21:51] AChep commented on #59
Fixed by https://github.com/AChep/AcDisplay/commit/a56b2a10ba393e7e06ac8fe6d512c413301a74ef

[2015-07-10 21:51] #59 closed

[2015-07-23 22:15] szhu opened #97 "Power button should unlock the screen, not turn it off"
I think there should at least be an option that pressing the power button when AcDisplay active should cause AcDisplay to unlock, instead of turning the screen off. In other words, AcDisplay should be equivalent to the "screen off" state. I think this feature would be nice to have, but I also think it's a really important one. The rest of this issue explains why—

The advantage of AcDisplay is tha

[2015-07-23 23:35] AChep commented on #97
That makes sense. Sadly, there's no way to detect pressing power button on a non-rooted device. I check what we can do.

[2015-07-23 23:37] szhu commented on #97
I'm on a rooted device. Also, AcDisplay already has Xposed hooks, so using root isn't really setting a precedent.

Also, I'm not sure what technical capabilities Xposed provides. Would this functionality be something that should go into the Xposed module or be separate?

[2015-07-23 23:40] szhu commented on #97
Also, TIL Snapchat doesn't detect screenshots by detecting pressing the power key.

[2015-07-27 07:52] szhu commented on #97
I see that the power key is now disabled when the lock screen is on. Is that related to this issue?

[2015-07-28 03:19] gnurichard opened #98 "Use Xposed for block"
I am know unwilling to add a password lock , but do not be possible to launch Xposed use pattern or password ? so that , ACdisplay act as the default lock screen

[2015-07-31 11:06] Youonthebass opened #99 "Music Media Widget not working for Spotify"
Hello.

I have a Nexus 5 running on 5.1.1.
 When playing music with the Spotify app I can't 'click' on the media widget.
This used to work fine, but now it seems not to. I can't get any of the buttons to work no matter how much I try. It works fine with Play Music, every button works, but with Spotify it doesn't.
I do not have active mode enabled, I am running in fullscreen mode.

[2015-07-31 19:40] DenizUgur commented on #99
Yup, same problem. It was working just fine before spotify updated to latest version. They might changed how to handle media notification

[2015-08-02 19:17] pawo2500 commented on #65
Check https://github.com/shaobin0604/Android-HomeKey-Locker , it's a library which makes an invisible overlay and captures all buttons. Doesn't look hard to use.

[2015-08-02 22:00] AChep commented on #65
@pawo2500 it doesn't work. AcDisplay v3.8-3.8.2 includes this _fix_.

[2015-08-15 08:49] elieobeid7 opened #100 "ACDisplay clock is wrong"
ACDisplay clock is wrong sometimes, especially when the phone is locked for a long time, say you're sleeping, for instance I woke up this morning and I saw this

http://i.imgur.com/GEBdAaz.jpghttp://i.imgur.com/GEBdAaz.jpg

while the phone clock is the correct one

http://i.imgur.com/NT3rrKz.jpg

So the time displayed on ACdisplay is 20 minutes earlier than the real time. This issue doesn't always

[2015-08-15 10:58] AChep commented on #100
As far as I can see, AcDisplay shows the _right_ time -- 8:06. What are you talking about is the time of notification's arrival -- _7:39 AM_.

[2015-08-15 10:58] #100 closed

[2015-08-15 11:02] elieobeid7 commented on #100
ok sorry :) and a feature suggestion please, ability to add more than 1 widget on the lock screen

[2015-08-24 00:42] kuroidoruido opened #101 "Alarm clock"
Is-it possible to add an option to display the next alarm clock set ?

I quickly tried to get this information, since Lollipop it's simple, but I can't see any example for doing it before 5.0 (maybe not possible). Maybe you can just add it for 5.0+ users ?

[2015-09-01 15:09] hebertpalomino commented on #99
same here. Note 4 running 5.0.1

[2015-09-02 16:36] DaneelReventelov opened #102 "Read Sms not works"
No problem on notification and I can read correctly the preview but when I click on "read" the app not brings me to sms app, it simply delete the notification.
Smartphone: Meizu M2 note
SMS app: standard one
Thanks

[2015-09-02 17:18] AChep commented on #102
Uhm, is it `Read` not in `Mark as read` meaning?

[2015-09-02 18:12] DaneelReventelov commented on #102
"Read"
When you tap on notification icon and AcDisplay show you the sms preview, there are 3 options, "Read", "Filter" and "Delete". If I swipe on sender Name, Acdisplay opens the sms app but if I click on "Read" don't works.

[2015-09-02 18:34] DaneelReventelov commented on #102
Mumble! A doubt came in my mind, I wrote that there are 3 options "Read", "Filter" and "Delete" but I translate from my language (Italian). In AcDisplay I have "Leggi" that can be translated "go to read" and literally "read" but maybe "read" was used as past verb to say "mark as read" and in Italian is "Letto"
- Read (present) = "Go to read" = "Leggi"
- Read (past) = "Mark as read" = "Letto"
So th

[2015-09-03 07:03] AChep opened #103 "LeakCanary: BathService has leaked"
[code]

[2015-09-03 07:04] AChep opened #104 "LeakCanary: MediaService has leaked"
[code]

[2015-09-03 07:04] #27 closed

[2015-09-04 11:51] equescalculi opened #105 "AcDisplay partially breaks trust agents"
Android lets you bypass the lock screen by using trust agents starting with version 5.0. AcDisplay partially breaks this feature. Steps to reproduce:

1. Enable a trust agent and make sure it's active.
2. Put the device in sleep mode.
3. Receive and miss a notification with AcDisplay enabled.
4. Wake the device. The device now needs to be unlocked despite an active trust agent.

[2015-09-04 14:19] Haeleos opened #106 "CyanogenMod 12.1 on OnePlus"
The new version of CM made ACDisplay a bit wonky. I find my screen will randomly turn back on with ACDisplay installed, but it is in a faded state and swiping the screen to unlock the phone can only be done after you double tap the screen to unfade. This might be due to 12.1 introducing a new lockscreen options.

[2015-09-04 18:39] GOGO98901 commented on #87
Is there any update on this as it is a neat feature?

[2015-09-04 21:46] AChep commented on #105
This bug is not on our side.

[2015-09-04 21:46] #105 closed

[2015-09-07 10:01] DenizUgur opened #108 "Notification access keeps disabling itself"
I'm running 5.0.1 on gt-i9500

[2015-09-14 21:27] #96 closed

[2015-09-14 21:29] AChep commented on #91
Custom secure lockscreen is not possible to create.

[2015-09-14 21:29] #91 closed

[2015-09-24 17:20] fredericbeaudoin opened #109 "Some French labels not displayed"
Although all strings seem OK on Crowdin, the following are displayed in English on the French UI:
* Settings > Lockscreen: "Lock delay" and "No delay" labels
* Settings > Notifications: "Quick glance" label and "Wake up [...]" description
* Settings > More: "Media widget" label and "Show a media widget [...]" description

Am using Android 4.4.2 on Samsung S4 Mini (model number SGH-I257M).

[2015-09-26 07:15] AChep commented on #109
Those strings were untranslated at the moment of build of last version [ https://github.com/AChep/AcDisplay/tree/master/project/app/src/releaseFlavor/res/values-fr ]. They will be included in next build.

[2015-09-26 07:15] #109 closed

[2015-10-06 11:23] nidele opened #110 "notification twitter and other social network"
hi,
it is possible to aggregate the twitter notification as gmail and other?
i note that for every tweet compare a icon. i should like an icon with the number of notification
best regards

[2015-10-09 19:29] frmz opened #111 "Implement updateAppWidgetSize() method in HostWidget.java"
Currently ACDisplay is not correctly setting widget width / height via AppWidgetHostView.updateAppWidgetSize(), this causes widget that rely on this to not work properly (KWGT). This should be easy to implement since AC Display already knows the size.

[2015-10-15 07:45] AChep commented on #111
Hmm, got it. Can you write me some steps to reproduce the issue? Setting clock widget (KWGT) worked perfectly fine.

[2015-10-15 07:53] frmz commented on #111
So KWGT has 2 ways of getting its size, the first one is to use AppWidgetManager.getAppWidgetOptions() to ask the WidgetHost the pixel size, this is the preferred way because this is done every time the widget updates. If this returns 0 (like in AC display), KWGT will use the size returned in the Bundle when the user clicks on the widget, this works but its not capable of handling sizes change (so

[2015-10-15 08:05] AChep commented on #111
Thanks. So `updateAppWidgetSize(Bundle newOptions, int minWidth, int minHeight, int maxWidth, int maxHeight)`. Will it be better to set the current width/height as both min and max, or pass _really_ minimum and maximum values (so widget can be scaled between them)?

[2015-10-15 08:18] frmz commented on #111
So the way Launcher 3 does this is the following: updateAppWidgetSize(Bundle newOptions, int portraitWidth, int landscapeHeight, int landscapeWidth, int portraitHeight)

It does this way because a widget is larger in landscape and taller in portrait. A widget generally will use "minWidth" x "maxHeight" when screen is in portrait and "maxWidth" x "minHeight" when screen is in landscape.

I think be

[2015-10-15 08:41] AChep commented on #111
https://github.com/AChep/AcDisplay/commit/aad7f8dd95db316a2a0ad6a85b21e763ee0690eb

[2015-10-15 08:41] #111 closed

[2015-10-15 08:47] frmz commented on #111
Great!

[2015-10-18 07:57] Walhalla360 opened #112 "Clear all notifications by swiping through to the far right or launch a shortcut from a corner gesture"
Would it be possible to add an option to clear all notifications by swiping through to the far right as Moto  is doing it? You could also display a notification that all notifications are going to be cleared so that the user knows what is going on. In my opinion this would bring a better workflow. You swipe to the right to read through your notifications and if you are at the end they all get clea

[2015-10-20 15:31] hipio commented on #87
@AChep Any ETA on when my push (#93) is getting merged?

[2015-11-18 09:54] matskb opened #113 "Screen stays on after connecting/disconnecting charger"
When I connect or disconnect my charger, the screen turns on (which is fine) but then continues to stay on forever until I manually lock the phone.

The issue occurs on both the OnePlus 2 and the OnePlus X, both running OxygenOS 2.1.1/2.1.2 (Android 5.1.1).
Any suggestions on how to fix this are welcome!

[2015-12-01 18:36] MM-Lehmann opened #114 "adjust time span of a pinned notification"
Can we add a settings item at which the user can control the time span, a notification is pinned?
This is mostly targeting towards the automatic pin of a new notification.
Possible time spans which can be selected should include 'forever', which means, that it doesn't collapse by itself, but only when clicked somewhere else or power off the screen.

Point me at the section in the code where the pi

[2015-12-01 18:38] AChep commented on #114
Sounds good, yeah. However https://github.com/AChep/AcDisplay/blob/master/project/app/src/main/java/com/achep/acdisplay/ui/fragments/AcDisplayFragment.java#L945

[2015-12-03 16:18] DenizUgur commented on #108
issue continuing

[2015-12-03 16:32] sirius-meng opened #115 "the TOP Activity problerm"
Sorry, maybe it's a question not a bug.

some music player has the lock screen, but  shown in 3 or 5 sec later, it will cover the AcDisplay.

is there some way to make the activity Top always

[2015-12-05 13:50] Lemming0815 commented on #104
confirmed. had the same

[2015-12-05 14:30] Lemming0815 commented on #22
it's a security flaw nevertheless.
There must be a more elegant solution...

[2015-12-05 16:56] Lemming0815 commented on #104
This is something a found with a quick search. May it be relevant?
http://stackoverflow.com/questions/12069821/android-service-has-leaked-even-though-it-is-supposedly-not-running

[2015-12-10 15:08] Digitaldoraemon commented on #115
If you are running KitKat or lower, install xposed. It can be downloaded online. Acdisplay has a exposed module in it. It should help to overlap it but not removing the music player lockscreen. Or you can just disable the music player lockscreen which should be in the music play settings.

[2015-12-10 15:11] Digitaldoraemon commented on #113
Its the setting.. Timeout or sleep setting which should be located in the display settings in your system setting. Don't set it to never but 30 sec or 1 minute is great.

[2015-12-10 15:14] Digitaldoraemon commented on #108
Update the android version or use custom ROMs. Check the apps you installed. Root access may be a problem. Most likely its just a bug in your phone. Updating your phone to the latest android version may fix it.

[2016-01-24 22:11] huffstler commented on #72
Update (1/24/16):

Still have the issue on my phone. Running 5.0.1 stock lollipop rooted. I futzed around with the settings to try and fix it to no avail. I'm gonna send @AChep a logcat within a day or two with a couple options turned on and off and hopefully he can figure out whats going on.

[2016-01-25 05:09] sorab2142 commented on #72
Is there an app that is starting a sticky notification (the type you can't clear)? This could be triggering all the time and causing the screen to turn on / stay on.

[2016-01-25 08:26] AChep commented on #72
Hi, does it happen with some _specific_ notifications or randomly or even without notifications?

[2016-01-25 15:26] huffstler commented on #72
@AChep, so far the only notification where i've had this happen is with Textra. Snapchat and Tinder both don't seem to cause it as far as I can tell. Those are the only types of notifications that i've gotten in the last 24 hours. I'm gonna try another texting app and try to work out if it's Textra or SMS.

@sorab2142 the only permanent notification is the one for ACDisplay itself. That and the wi

[2016-02-15 22:18] gowong opened #118 "Support for Landscape Orientation"
It would be nice if AcDisplay respected the orientation that the device is in. It's kind of annoying when I have my phone in landscape, but notifications that I receive always show AcDisplay in portrait mode.

[2016-02-23 15:26] andriusvelykis opened #119 "Full width for widget / notification"
The maximum width for adding a custom widget does not utilise the whole of the screen width - the actual width used leaves quite wide gaps on the sides. Would it be possible to increase this by default or provide an option for controlling it?

For example, the same widget in the launcher is wider than the one in AcDisplay (with max width set). In some cases (I am using Weather Timeline Clock widge

[2016-03-02 09:45] llcool opened #120 "BBC iPlayer Radio"
The BBC iPlayer Radio media controls do not working. AcDisplay v3.8.4

Samsung Note 3 Android 5.0

[2016-03-02 09:50] llcool opened #121 "MX player"
Media player controls are not displayed on AcDisplay (v3.8.4) screen but are display on the Android notification panel.

Samsung Note 3 Android 5.0

[2016-03-15 19:07] moonspeak commented on #119
This is appears to be even more extreme with a larger display resolution/density. On my S6 Edge+, the widget/clock space can only take up about 50% of the screen's total width.

[2016-04-06 02:33] pradyvr opened #125 "Option to clear notifications from lockscreen."
It will minimize the need to go into the status bar and swipe to discard notifications.I guess this option will be make the app better. It is a Feature Request and not a bug/glitch

[2016-04-06 02:40] #125 closed

[2016-04-06 02:41] pradyvr commented on #125
the option is already implemented and i couldn't find it till now.

[2016-04-14 09:09] mohamedation opened #126 "Duplicate notifications"
after upgrading my device to 5.1 the notifications started to appear duplicated sometimes and sometimes it worked just fine. Also when ever I click on a notification (to mark it as read) after a while it appears like its unread.
![13009826_10153633024396347_141581193_o](https://cloud.githubusercontent.com/assets/11461094/14522908/46dbe866-0231-11e6-8211-b8d1f3fc5c5e.png)
![13009937_101536330246513

[2016-04-14 14:47] Battler624 opened #127 "An issue + A request."
The issue is that there is a delay where AcDisplay doesn't popup fast enough as would other lockscreens (Comparing it to echo & regular touchwiz lockscreen) when you press the power button then the home button. (Just to test it).

I have adjusted all settings and have it activated as a lockscreen with 0 delay under lockscreen section, the delay mostly happens if i'm setting on the homescreen (dela

[2016-04-16 14:52] kaschm opened #128 "Notifications broken after 6.0.1 upgrade"
Thanks for a great app!

I'm on a Samsung edge 6 and just upgraded to Android 6.0.1. The lock screen still looks and functions (unlocks) the same, but notification icons are no longer showing up.

[2016-04-16 17:42] AChep commented on #128
Thanks, I'll fix this ASAP.

[2016-05-01 21:49] Shockwave0227 opened #129 "Unpossible to uninstall AcDisplay."
Hello! I want to uninstall AcDisplay. I know that first of all I need to diable it from system administrator list, but every time I try to do it, small error appear and unchecking menu crashes with info "com.android.settings" stoped.  Also, several weeks ago i updated to Android Marshamellow version, maybe it may be important

[2016-05-02 08:11] AChep commented on #129
Do you have custom ROM installed? You can try to uninstall by opening AcDisplay / Help and clicking on "uninstall" link.
![zplo1clmnxw](https://cloud.githubusercontent.com/assets/990982/14949919/8f9b090a-1056-11e6-9f62-c1ea5e96a8b4.jpg)

[2016-05-02 10:40] Shockwave0227 commented on #129
Hi!
No I hame standart ROM, no manual changes. Now I`am little bit away from my phone, but I will try as soon as possible, and will reply about my progress

[2016-05-04 20:02] AChep commented on #129
@Shockwave0227 did it help?

[2016-05-06 22:39] The0x539 opened #130 "Option to determine unlock circle color based on wallpaper"
This is particularly useful with things like Muzei, set to change daily.

[2016-05-13 13:31] s0m3guy opened #131 "Typing after unlocking"
Occasionally when I lock the screen while inside an app in which I can type, after unlocking again, I hit keys but they don't appear in the input field. I have to kill the app first and open it up again, switching to another one and back does not help.

[2016-05-25 20:13] eaglz05 opened #132 "After 6.0.1 Upgrade: Notification shade shows on lock screen after waking the screen."
The app feels generally a little more buggy since I upgraded.

I am on Galaxy S6.
Thanks

[2016-06-13 09:01] Replads opened #133 "Abandoned?!"
**If you abandon this app, you should say so**!

Don't be rude and ignore users posts. Don't waste our time!

[2016-06-13 09:03] AChep commented on #133
No, just busy at this moment.

[2016-06-18 02:36] axelsimon commented on #133
Hey, this is free and open source software. Just because you're a user doesn't mean you are entitled to being rude to developers.

[2016-06-21 12:45] smichel17 opened #134 "[LeakCanary] OpenNotificationLollipop has leaked"
I'm using [my own fork](gitlab.com/smichel17/acdisplay), but it is only one small commit different from master (hard coded custom corner actions).

---

In com.achep.acdisplay:4.0-debug:77.
* com.achep.acdisplay.notifications.OpenNotificationLollipop has leaked:
* GC ROOT static android.os.Looper.sMainLooper
* references android.os.Looper.mThread
* references thread java.lang.Thread.localValues (n

[2016-06-21 12:47] smichel17 commented on #134
I have plenty more logs. This happens every 1-2 days on average. Not that I really notice it, hence me taking a while to post.

I'm running touchwiz 5.0.1, rooted and deodexed. Galaxy s4.

[2016-06-21 18:07] #133 closed

[2016-06-21 18:28] AChep commented on #134
Hi @smichel17

First of all thanks for the logs. This is a bug (but very small one). Let me explain why this happens:
- you click on a icon view --> view is put into a temporarily variable;
- then you dismiss notification --> the icon view is being removed from view hierarchy, but that temporarily variable still contains a link to it;
I will fix it in a hour when i get to my laptop.

[2016-06-21 19:01] AChep commented on #134
Should be fine after https://github.com/AChep/AcDisplay/commit/20f85717c93a45895027b71f14b649d610eaf748 Can you confirm it?

[2016-06-21 19:01] #134 closed

[2016-06-23 15:21] smichel17 commented on #134
I'll check soon.

[2016-06-29 03:45] arcangel93 opened #135 "Can't Uninstall after marshmallow update"
Says failed to Uninstall do to unknown error when trying to Uninstall from f-droid

[2016-06-30 06:27] Kristian60 commented on #132
I'm not sure if you are refering to the same issue, but when I receive a notification it is already "greyed-out", as if I already read it. Also, occationally notifications open automatically when i receive them.

Galaxy s7 edge

[2016-06-30 17:31] sydvaldez opened #136 "ac display option to choose background/wallpaper"
Good day sir iam very very amazed of ac display sir.. i got some suggestion about the the background , i just wonder if possible that we can choose wallpapers or live wallpapers regardless of the homescreen wallpaper that would be more great :)

[2016-07-01 09:00] Bugsbane commented on #135
Have you disabled it's permissions add the app tells you that you need, to prevent issues with uninstalling? If not, do a quick search and you'll find the instructions easily enough.

[2016-07-01 09:06] Bugsbane opened #137 "App doesn't disable default lockscreen"
I love acdisplay from the look of it, however after I unlock it, I'm taken to my phone's default Samsung lockscreen, meaning I have to unlock twice each time. This is especially annoying given that my main reason for wanting to use acdisplay is because Samsung's lockscreen crashes so much the phone is basically unusable when using a password. I really just wanted to replace it. Because I use encry

[2016-07-01 09:07] Bugsbane commented on #137
Note this is on a Samsung Galaxy prime running Android 5.1.1

[2016-07-01 11:48] AChep commented on #137
You can't use device encryption without stock lockscreen. Android limitations.

[2016-07-01 11:48] #137 closed

[2016-07-01 12:33] Bugsbane commented on #137
:( Well, thanks for replying so quickly and letting me know. Displaying a warning and preventing the user from turning on the lockscreen feature when encryption is enabled would go a long way, and save people a lot of time trying to fix the issue. Still, thanks for all your work on a fab FOSS project.

[2016-07-03 14:06] davidhedlund commented on #135
I can confirm this as well on a Android 4.4.1 (KitKat). Also, I made sure that acDisplay didn't run when I tried to remove it but it still not possible to get rid of it.

[2016-07-03 19:37] notom commented on #108
Confirming, there is a problem with android 5.0.1 on gt-i9500.

[2016-07-04 00:07] Bugsbane commented on #135
Once again, did you ensure that the necessary permissions (such as administration  ) were removed first, as the software says you need to before attempting to uninstall?

[2016-07-07 14:55] Remoulade opened #138 "Accelerometer does not work in active mode (Moto E 2015 LTE)"
While using active mode, shaking the phone (Moto E 2015 LTE) does not work.
However the screen turns on, when the proximity/light sensor is uncovered.
Waving in front of the phone works, too.

The accelerometer works fine, I tested it with an app. The default 'active mode' with the 'Moto Info' app does work with the accelerometer, too.

[2016-07-07 19:04] AChep commented on #138
'Shake to wake' is enabled when phone is charging (and some other actions https://github.com/AChep/AcDisplay/blob/master/project/app/src/main/java/com/achep/acdisplay/services/activemode/ActiveModeService.java).

[2016-07-07 19:04] #138 closed

[2016-07-12 11:59] Remoulade commented on #138
Thanks for your feedback. That was just not obvious from the app itself. :)

[2016-08-01 21:00] Shippage opened #139 "Home button returns home while on lockscreen"
Hitting the home button while on the lockscreen sends me to home. This shouldn't work when the phone is locked, but it does.

[2016-08-03 19:45] AChep commented on #139
It will be fixed in next major update (i'm working on it atm).

[2016-08-03 19:50] Shippage commented on #139
Okay, thanks for the update!

[2016-08-03 20:10] AChep commented on #139
This is not fixed yet, so let it be open 😛

[2016-08-11 12:36] malahovKS opened #140 "Active mode feature does not work. I mpossible to get the active display turned on."
Active mode feature with proximity sensor does not work and its impossible to get the active display turned on.
My device: Note 4, Android 6.0.1

[2016-08-21 13:28] smichel17 commented on #139
On my phone, activating the xposed module disables the home button on lock screen. 5.0.0 touchwiz. (Galaxy s4)

[2016-08-22 17:17] davidhedlund opened #141 "Lockscreen beta disclaimer on f-droid missing"
AcDisplay -> Settings -> Lockscreen "This is a beta feature and may be unstable."

In https://f-droid.org/repository/browse/?fdfilter=AcDisplay&fdid=com.achep.acdisplay can you please update "Use AcDisplay as your lockscreen." to "Use AcDisplay as your lockscreen. - This is a beta feature and may be unstable.)"

[2016-09-10 02:25] Oozemeister commented on #136
+1

[2016-09-20 07:44] davidhedlund commented on #135
Can you please make a message appear about this when a user try to uninstall it?

[2016-09-20 09:35] smichel17 commented on #135
Open the app. Click the help button in the title bar and read the first paragraph.

[2016-09-20 10:37] davidhedlund commented on #135
Thanks! It would be great if this message turned up when users try to uninstall it. @smichel17

[2016-09-20 10:45] davidhedlund opened #142 "Display uninstall guide when users have installed"
I suggest that the Help -> "How can I uninstall this app?" message pop-up when users trying to uninstall AcDisplay.

[2016-09-20 10:45] davidhedlund commented on #142
https://github.com/AChep/AcDisplay/issues/129
https://github.com/AChep/AcDisplay/issues/135

[2016-09-21 23:09] davidhedlund commented on #141
mylabel:enhancement

[2016-09-21 23:13] davidhedlund commented on #142
mylabel:enhancement

[2016-09-21 23:40] AChep commented on #142
Actually there's no way to detect if user is trying to delete an app.

[2016-09-21 23:58] davidhedlund commented on #141
[mylabel:enhancement](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aenhancement%22+in%3Acomments&type=Issues&ref=searchresults)

[2016-09-21 23:59] davidhedlund commented on #142
[mylabel:enhancement](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aenhancement%22+in%3Acomments&type=Issues&ref=searchresults)

[2016-09-22 01:16] davidhedlund commented on #142
@AChep I changed the title. Are you willing to re-open the issue or should I move on? =)

[2016-09-22 01:20] smichel17 commented on #142
I think the best option here would be to display the uninstall guide after the user has enabled acdisplay as device admin. Or even just a toast letting them know "Hey, if you ever want to uninstall, you need to undo what you just did, first. This information is in the help if you ever need it again."

[2016-09-22 05:36] AChep commented on #142
Well, displaying little tip after enabling device admin is not that bad.

[2016-09-22 21:14] hipio commented on #87
I'm going to assume that #93 this will not be merged.

[2016-10-10 10:40] dmarcelino commented on #101
+1, the Google Nexus lock screens support this and it's super useful.

[2016-10-14 21:34] DMcCunney commented on #126
I see similar issues with duplicated notifications.  In particular, I had to turn off notifications for Gmail because I'd get a new one on AcDisplay's lockscreen every time new mail arrived, and I get lots of mail.

What I'd like to see is _one_ notification for Gmail with the current number of messages in the icon updated.  Similar comments apply to any app that generates a lot of notifications.

[2016-10-19 10:54] rejetto commented on #41
+1
that would be awesome!
I'd use the "torch" module of xposed, but it's incompatible with acdisplay as it turns the display on (active mode). I have to first switch the screen back off, not so handy.
I also tried to solve by putting a widget for the torch in acdisplay, but then i lose the clock, as it seems that currently only one widget is supported.

[2016-10-19 12:30] smichel17 commented on #41
I don't really understand the impetus to include this in acdisplay. Why not just install [torchie](https://f-droid.org/app/in.blogspot.anselmbros.torchie) or something like that?

[2016-10-19 13:02] rejetto commented on #41
sadly torchie is not consistently working on my system.
Anyway, i'd prefer having a more generic solution instead of the torch: more freedom with the widgets would solve.

[2016-10-19 14:32] smichel17 commented on #41
My concern about including a torch is that you can apply the same logic for including a bunch of other features, and then we end up with a bloated mess that used to be an awesome lock screen app.  A more generic solution solves that issue quite nicely.

[2016-10-30 17:14] benmeroff commented on #139
Any update on the major update?

[2016-11-30 17:25] kilroythe5th opened #143 "(feature request) tap to unlock"
on Motorola devices, there is an acdisplay-like lock screen, but instead of having to swipe, one can just touch the screen anywhere, and it goes to the normal lock screen. To stop the phone from unlocking in someone's pocket, the app could be made to not accept touches if the proximity sensor reads zero.

[2016-11-30 17:34] kilroythe5th commented on #20
I usually use it to have the screen turn on when I take it out of my pocket, but it's a little slow for that. (maybe just my device?)

[2016-12-12 15:31] benmeroff commented on #142
Is development for AcDisplay still active?  I've loved the app for years now, and I definitely wouldn't mind fiscally supporting future development.

[2016-12-12 15:38] smichel17 commented on #142
Is it appropriate to make a [plug](https://wiki.snowdrift.coop/about/intro) for https://snowdrift.coop here? Does phrasing said plug as a question change that? :P

[2016-12-13 12:22] mjt01 commented on #87
Just curious as to the status of this issue/pr? Seems dormant atm, but this would be a great feature.

[2016-12-13 12:27] mjt01 commented on #41
I would suggest enabling pulling down the settings drawer. That would also allow flipping to silent/vibrate without unlocking which I miss.

[2017-01-08 20:27] osneven opened #144 "Having to enter password instead of fingerprint on Nexus 6P CM13"
When activating the lockscreen mode, trying to unlock the phone with the fingerprint reader, the normal CM lockscreen prompts for the password. This normally happens every 24 hours or so, but when using AcDisplay, it happens almost every hour.

[2017-02-21 16:10] #36 closed

[2017-02-21 16:10] #49 closed

[2017-02-22 18:23] islandman59 opened #145 "Lockscreen Media Widget not working with Sonos Beta 7.2"
The widget controls on the lockscreen do nothing for Sonos 7.2.  They worked in the prior version.  The widget works with all other apps, Pandora, Slacker, Google, etc.

[2017-04-14 21:58] sakshamsharma commented on #144
I can confirm this happens for OnePlus 3T as well. The reason, as I understand, is Android's security policy of disabling fingerprint unlocks whenever the screen was locked by an app. Please verify that the issue only happens when you let AcDisplay turn off your screen (timeout).

@AChep are there any plans to fix this? There are some tricks for rooted phones I understand. Perhaps add them as an o

[2017-04-20 05:44] AChep commented on #144
Unfortunately I don't really want to add another workaround and see it patched in next Android version. Sorry, guys.

[2017-04-20 07:59] sakshamsharma commented on #144
Would it ever be patched though? As I understand, it has been there since 5.0, and being a security policy, it is unlikely it can be removed without exposing some vulnerability. Just mentioning.

Also, It may help to keep this issue open, for others who may stumble here.

Thanks!

[2017-04-23 01:03] Redrield opened #146 "Directed to stock lockscreen when trying to unlock with pin"
All stayed in the title. Expected behaviour would be that it would lead straight to pin entry if possible. Works fine with security disabled. Using Nexus 5 with RR 5.8.2 ROM

[2017-04-23 15:37] BennettSpeaks opened #147 "Galaxy S8 New Aspect Ratio"
The app is not compatible with the new aspect ratio of the galaxy s8 and the s8+ it leaves a stripe on both the top and bottom of the screen unaltered, giving it an odd look.

[2017-04-28 14:28] nanos opened #148 "Cannot remove AcDisplay from device administrators"
I'm trying to remove AcDisplay from device administrators.

When doing this I get the mobile frozen for a few seconds, then "Unfortunately, Settings has stopped."

Tried rebooting the phone, but that didn't help. Every other app that I have in my list of Device administrators (I did try them all) works fine, so I assume it has something to do with AcDisplay. Any further thoughts?

[2017-04-28 16:18] smichel17 commented on #148
This happens to me when I try to remove Android device manager. Go figure.

[2017-04-30 20:38] nanos commented on #148
Interesting. That's one of those that is working fine for me ...

[2017-04-30 22:27] AChep commented on #148
You can remove device admin rights from AcDisplay/Help dialog. No idea what causes Settings crash, tho.

[2017-05-01 20:45] nanos commented on #148
When tapping "disable" in the help dialog there was absolutely no reaction at all. However, device administrator was still disabled. Thanks for that pointer!

[2017-05-01 20:45] #148 closed

[2017-05-11 09:19] frankFic opened #149 "android.text.format.Time is deprecated since API 22"
Hi,

I noticed that class android.text.format.Time is used at multiple places:
[Line 77 in TimeView.java](https://github.com/AChep/AcDisplay/blob/5d406457b7277c873b0967eb3b7504656d69397b/project/app/src/main/java/com/achep/acdisplay/ui/widgets/TimeView.java#L77)
[Line 29 in InactiveTimeHelper.java](https://github.com/AChep/AcDisplay/blob/5d406457b7277c873b0967eb3b7504656d69397b/project/app/src/mai

[2017-05-24 20:57] gpegg opened #150 "Cannot Uninstall"
I have tried to uninstall this app from my Samsung Galaxy s7 many times, but to no avail. When I tried to uninstall it, it said I was unable to uninstall apps that were given administrative rights. I went into the settings app and tried to remove the admin rights from the app, but the settings app freezes and crashes when attempting to remove admin rights. I can remove admin rights from other apps

[2017-05-24 21:43] smichel17 commented on #150
If memory serves, someone else found a workaround in #148

[2017-05-24 23:02] gpegg commented on #150
That helped and the app is now uninstalled​. Thank you very much.

[2017-05-25 12:57] flasd commented on #144
Nova Launcher works around this by changing screen timeout to 5 seconds, showing a black screen and preventing touch interacting while screen is on. When screen locks, the screen timeout goes back to default and the security policy doesn't kick in, so we can use the fingerprint scanner. This is even better in amoled phones. Seems trivial to implement.

[2017-06-05 02:20] benmeroff commented on #147
Any update on this, or is this not going to be addressed?

[2017-07-06 17:18] #150 closed

[2017-07-13 07:57] XChikuX commented on #144
flasd's comment really should be implemented as a workaround. Please take this into consideration ACdisplay team.
Show a pitch black #000 screen,
Change screen timeout to 5 seconds, till it locks.
Change it back to default.

This is what nova does. And it's wonderful.

[2017-07-13 17:05] flasd commented on #144
@AChep could you do something like:
[code]

I understand that creating a workaround for it to be patched by the next version of android sucks, but nowadays almost all new phones have fingerprint scanners and this security policy is a real deal breaker for the app.

And, (I'm not an Android developer) it seems easy to implement, 30 minutes, maybe? I'd love to help testing it.

If I was better with

[2017-08-19 19:47] Izacht13 commented on #140
Having the same issue on my BlackBerry PRIV, but it's a new issue. I could have sworn it worked last week.

Weird thing is, I tried to restart the app in Settings, and Force Stop is grayed out.

[2017-09-11 06:48] vkyeswa opened #151 "I get a runtime error in release build, how can i fix this"
java.lang.RuntimeException:
  at com.achep.base.tests.CheckImpl.isFalse (CheckImpl.java:57)
  at com.achep.base.tests.CheckImpl.isFalse (CheckImpl.java:52)
  at com.achep.acdisplay.notifications.NotificationPresenter.onNotificationAdded (NotificationPresenter.java:694)
  at com.achep.acdisplay.notifications.NotificationList.notifyListener (NotificationList.java:189)
  at com.achep.acdisplay.notifi

[2017-09-15 16:10] jius94 commented on #128
same problem wirh my oppo r9s

[2017-11-08 14:01] beatbeastxxx opened #152 "https://drive.google.com/file/d/*DELETED*/view?usp=sharing"
faf6040811bf2c644c4ec7bfa7322a167b27a701

[2017-11-08 15:59] #152 closed

[2017-11-17 05:11] #48 closed

[2018-03-20 08:45] Yonezpt opened #153 "Cascade of crashing apps after installing AcDisplay while using Launcher3"
I just tried today this app and as soon as the phone was restarted to enable the module in XPosed all apps tied to notifications began to crash and could never be opened, not even once.

I believe this is because I am using Armizaidi's Launcher3 launcher https://github.com/amirzaidi/launcher3 but I haven't had the time to test AcDisplay with stock launcher.

My device is a Galaxy S7 running Nougat

[2018-03-20 08:46] Yonezpt commented on #153
I just noticed this app is apparently abandoned according to the activity in this repository...

[2018-03-20 14:16] AChep commented on #153
@Yonezpt  Crash was probably due to outdated XPosed module in AcDisplay. Try disabling it

[2018-03-20 20:58] Yonezpt commented on #153
Is this instruction correct? Because I cannot find anything like that in the AcDisplay settings.

[2018-03-20 21:01] Yonezpt commented on #153
Oh, you mean disable the AcDisplay in XPosed. I did not know it could run without it. I just did that, but the lockscreen never changed, the Samsung AOD default is still there as usual.
Isn't it suppose to be replaced by AcDisplay or am I understanding this app incorrectly?

[2018-03-20 21:03] AChep commented on #153
Did you check AcDisplay/Settings/Lockscreen on? 😋

[2018-03-20 21:03] Yonezpt commented on #153
Yeah, thing is I thought this would replace the Samsung AOD screen, but it is just a lockscreen app, I misunderstood the app. Sorry for the trouble.

[2018-03-20 21:04] #153 closed

[2018-06-01 13:51] Perflyst opened #154 "Inclusion to F-Droid?"
F-Droid is a catalogue of free and open source software and is mainly aimed at people who value their privacy and don't want to rely on proprietary services and apps like google, amazon, etc. Status is an awesome app and would definitely fit in the repository. Inclusion policy requires consent of the developer. If you support the idea, I'll fill the inclusion form.

Contributing guide: https://git

[2018-06-02 03:55] AChep commented on #154
Try searching through their archived apps. It is there

[2018-06-02 20:54] #154 closed

[2018-07-13 22:11] ivocass commented on #144
@AChep
Any news on this? Currently AcDisplay can't be used on new phones (>Nougat) because when it turns off the screen, it does so by locking the device (which then prevents it from being unlocked by fingerprint).
Nova Launcher solved this long ago, as it's mentioned above.

[2018-08-20 16:37] caradawc opened #155 "Can't wake up device."
Hi.

Notifications don't wake up my phone. Sometimes works but most times not works.
I have AcDisplay in white list, my phone no close this app.

Sorry for my english

[2018-08-21 04:26] AChep commented on #155
What Android version?

[2018-12-23 12:59] Beat707 opened #156 "Dead project?"
Is really sad to see this project dead, really loved how it works. I can contribute with some coding but I can't get it working on the latest Android Studio on Windows. :-(

[2018-12-23 13:08] Beat707 commented on #156
I was able to fix the problem with this:

Add jcenter() along with mavenCentral() in your project level build.gradle file.

buildscript {
    repositories {
        mavenCentral()
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.2.0'
    }
}

[2018-12-23 17:39] Beat707 commented on #156
Darn, still won't work. Several errors...

[2018-12-23 18:30] AChep commented on #156
@Beat707 can you post error logs here?

[2018-12-26 16:20] WilliamKWusik commented on #156
Ah, yes, sorry, I will. ;-) I started with the original files, it told me to upgrade. I will re-start and post all screenshots and errors. Maybe something can be done.

[2019-05-21 05:09] tjsuominen commented on #156
Any further interested contributions? I am *not* a developer, yet would love to see ACDisplay continue to develope and evolve further. I am planning to "shout" for this (= volunteers to pick up) in Reddit /r/androidapps) just to raise awareness. How I could contribute (if development volunteer(s) found) could be do some further UI / UX planning. Let's see...

[2019-05-27 13:40] CarlosACepeda commented on #156
I'll be glad to help. @tjsuominen do you have a Fork?

[2019-05-27 13:41] CarlosACepeda commented on #146
I think there is not workaround for that, as Is a Android behavior, not controllable by the app.

[2019-05-27 13:46] CarlosACepeda commented on #121
The controls being displayed on the Lockscreen are not controlled by the app itself but by an Android API that notifies listener about changes in the media. in the case of Lollipop that would be the [MediaSessionsManager](https://developer.android.com/reference/android/media/session/MediaSessionManager)
ahm, if the MusicPlayer does not register a MediaSession to play it's media then the MediaSessi

[2019-05-27 13:49] AChep commented on #146
The possible workaround would be opening a blank activity (that dies immediately after start) so Android thinks we _open_ something.

[2019-05-27 13:53] CarlosACepeda commented on #146
I'll make some tests about this then give feedback.

[2019-05-27 13:55] CarlosACepeda commented on #145
The controls appear and do nothing? or the controls never appear at all?

[2019-05-27 13:57] AChep commented on #145
Appear and do nothing. This was a bug of a Sonos

[2019-05-27 13:57] #145 closed

[2019-05-27 13:57] CarlosACepeda commented on #135
I guess there's no way to know when a user wants to remove the app.
The only option is to leave that uninstall tip on a dialog.

[2019-05-27 13:58] CarlosACepeda commented on #145
Ye, some music apps don't register a MediaSession...

[2019-05-27 14:00] AChep commented on #135
I'm very positive about adding "Having troubles with uninstalling" right to the *freaking FAQ* button. You can not believe how many people are asking this and not reading the FAQ.

[2019-05-27 14:02] CarlosACepeda commented on #99
Still happening?

[2019-05-27 14:04] CarlosACepeda commented on #135
You should update the app only with that as a single option in CAPITAL LETTERS in the menu, so this won't happen anymore.

[2019-05-27 14:10] CarlosACepeda commented on #151
What are you trying to do?

[2019-05-27 21:40] CarlosACepeda commented on #139
I guess is not possible to override the Home button behavior, because of Android security,
there is a Listener for the user currently being in launcher? this maybe could be used as a workaround, so, when the user is on the launcher, the Lockscreen will start again.

[2019-05-31 15:29] CarlosACepeda commented on #113
@matskb  Does this issue still happen? Did you set the timeout time in the settings as suggested by @Digitaldoraemon ?

[2019-05-31 15:34] CarlosACepeda commented on #101
Displaying the next alarm that the user has setted?

[2019-05-31 15:44] CarlosACepeda commented on #97
Registering a broadcast receiver Screen On/Off can help with this issue?
And applying a condition to that broadcast receiver, verifying the current settings of AcDisplay,

If the AcDisplay is not setted as Lockscreen, and the Active Mode is on and Turn Screen automatically on new notification then, use a wakelock, turn again the device and close the Activity that handles the lockscreen, that'll be

[2019-05-31 15:50] CarlosACepeda commented on #71
Hi, have you done any major update on this?, I'm currently facing the same issue I don't find a solution even using background threads.

[2019-05-31 15:57] CarlosACepeda commented on #71
What I have found is that this happens with specific Media Sessions, for example a Media session for Spotify when trying to recover the Album Art in the worst cases takes 5 seconds to obtain it, Idk if this is your case though, but, in other Music player, such as Deezer it does not happen and the Metadata is recovered quick.

[2019-05-31 19:36] AChep commented on #71
Nah, I did not do much of a research on this problem.

[2019-05-31 19:40] AChep commented on #97
No, you can not use the SCREEN_ON/OFF event cause it has no distinction between "user turned the screen off" and "the screen turned off by itself". Also, I don't like the idea of such workarounds where screen gets turned off and then pops on again.

[2019-05-31 19:43] AChep commented on #30
See the translations on crowdin https://crowdin.com/project/acdisplay

[2019-05-31 19:43] #30 closed

[2019-06-05 05:58] tjsuominen commented on #156
First what I did was initialize discussions (= trying to find interest among other devs if someone would eventually continue ACD development) over reddit ([Link to discussion](https://www.reddit.com/r/androidapps/comments/br6l16/acdisplay_any_volunteers_to_continue_development/)) and got response even from Artem himself ;-) It's a mixed bag ;-)

We can continue discussions here or there on reddit

[2019-06-05 13:50] CarlosACepeda commented on #156
Fork: a copy of the project basically.
I'll be glad to help, Im developing an app myself inspired by AcDisplay but I can contribute to this app too,  to be alive again, however, as I read on the Reddit discussion, anyway, the android system currently does what AcDisplay did, so, this means obviously that the app **must**  have new features, and the fork is here [See here for the fork](https://gith

[2019-06-05 13:59] CarlosACepeda commented on #156
As stated in the readme, the app should change the name, or clarify that is not official.
But i don't know how it will be this, maybe @AChep  can make a comment on this? Making a fork limit the possibility of adding new issues or PR's without waiting the repo owner to merge /deny the changes made

[2019-06-05 14:01] AChep commented on #156
@CarlosACepeda I'm fine with the fork being on GitHub with the same name, I'm against the fork published on Play Store having the same name

[2019-06-05 14:08] CarlosACepeda commented on #156
Ah okay I see, but what about PR's and Issues people want to open, you can't open issues in a fork. 🙁  :/

[2019-06-05 14:10] AChep commented on #156
Congraz on getting a Collaborator status ;)

[2019-06-05 14:14] CarlosACepeda commented on #156
Many thanks @AChep  😮
@tjsuominen  please can you gather more devs on this?

[2019-06-05 14:19] CarlosACepeda commented on #78
Investigating if this still happens

[2019-06-05 15:05] AChep commented on #78
There's no need, 50-70mb is perfectly fine for such an app. Crash -- I don't think it still happens.

[2019-06-06 18:55] tjsuominen commented on #156
@CarlosACepeda I'll do my best on Reddit :-)

I think 1st priority would be "update" everything to work on Pie (include updating libraries). There's good feedback on the Reddit post as you are aware of. Excited should ACD continue it's lifecycle and get even better over time!

@AChep Any chance we'll see you contributing...? :)

[2019-06-06 19:37] AChep commented on #156
Good chance in next month, after I'll finish this semester of university.

[2019-06-06 20:15] CarlosACepeda commented on #156
I think for now this month I'll be updating Libraries and such, at least compile the project, ha ha.

[2019-06-13 10:59] #151 closed

[2019-06-14 05:13] tjsuominen commented on #156
Any luck @CarlosACepeda on compiling / updating libraries? :)

[2019-06-14 12:58] CarlosACepeda commented on #156
Im so busy at work, but today/tomorrow I'll do this and then write here again.

[2019-06-14 20:43] CarlosACepeda commented on #78
Closing, AcDisplay does not seem to crash when playing music from G Play Music.

[2019-06-14 20:43] #78 closed

[2019-06-15 15:11] CarlosACepeda commented on #147
Can you post some screenshots here?

[2019-06-15 15:14] #135 closed

[2019-06-15 15:17] CarlosACepeda commented on #110
Please explain better your requirement

[2019-06-15 15:24] #66 closed

[2019-06-15 15:53] benmeroff commented on #147
This looks like it was either solved or isn't an issue anymore for some reason, just opened up AcDisplay again on my OnePlus 6T and I see no bars while unlocking (while the screen shows another fill color it uses all available screen).  Lol replying after 2 years?

[2019-06-15 15:57] benmeroff commented on #147
And seeing as the app hasn't been updated since 2015 I'm gonna wager this hasn't been fixed so I'm not really sure what happened to fix this...  It's a shame, this was my favorite AOD implementation before that was even a thing.

[2019-06-15 18:21] CarlosACepeda commented on #147
I'm a new collaborator, but, may I close the issue?

[2019-06-15 19:19] benmeroff commented on #147
Oh yeah for sure!  Are you picking up development on this project?

[2019-06-16 00:09] CarlosACepeda commented on #147
For now, yes.

[2019-06-16 00:09] #147 closed

[2019-06-17 15:08] #98 closed

[2019-06-25 01:17] #110 closed

[2019-06-26 09:06] tjsuominen commented on #110
I think that @nidele means if there are x amount of notifications from the same source (eg. Twitter), those notifications are combined into "one" with a number (superscript?) indicating the count? I guess that kind of ui-behaviour is not supported by Android in general...

[2019-06-26 13:21] CarlosACepeda commented on #110
Its currently supported then, a notification count

[2019-07-02 14:48] CarlosACepeda commented on #80
It all depends on the other app, not AcDisplay.
As you said, focus.
The other app is trying to gain focus over AcDisplay and AcDisplay does the same,
however, in order to avoid this the other app must spawn their floating views as Non-focusable views.
And AcDisplay can't know which app is taking focus now, only knows is has lost it and tries to go fullscreen when that happens.

[2019-07-02 14:48] #80 closed

[2019-07-02 19:30] #141 closed

[2019-07-02 22:20] CarlosACepeda commented on #121
Im closing the issue, if you think it still happens, please attach logs, screenshots and any other useful information.

[2019-07-02 22:20] #121 closed

[2019-07-02 22:23] CarlosACepeda commented on #87
I'm taking care of this PR now.

[2019-07-03 13:27] CarlosACepeda commented on #136
This won't affect performance? @AChep ?

[2019-07-03 13:39] AChep commented on #136
Nah, not much. But… this is fairly hard to implement (especially live wallpapers).

[2019-07-03 14:03] CarlosACepeda commented on #136
I guess Live wallpapers are not in the scope of this issue however, hah.
For now it can be just a static wallpaper the user picks from the Gallery.

[2019-07-03 14:06] CarlosACepeda commented on #136
My initial question was that each time this image has to be retrieved from storage, in older phones this can be harmful, I guess, because the slowness

[2019-07-03 14:08] CarlosACepeda commented on #132
Post some screenshots if available please

[2019-07-03 14:09] CarlosACepeda commented on #31
Closing, already solved.

[2019-07-03 14:09] #31 closed

[2019-07-03 18:47] tjsuominen commented on #156
Happy to see activity here in GH. IMO, the 1st priority should be update everything (build, libraries, code etc.) to a level that ACD is fully working with Android 9.0. I'm more than interested in contributing to the UI/UX design in the future (as for visual mockups etc.).

[2019-07-03 19:55] CarlosACepeda commented on #156
We are thinking in a new feature where the user can pick a wallpaper instead of always using the default that the user has, maybe can you help with those mockups of an activity where the user does that? because I admit I'm not good with UI, 😄 , obviously sticking with AcDisplay colors and such.

[2019-07-09 07:59] tjsuominen commented on #156
Checked into that briefly and I think there are plenty of samples / implementations and ideas available for that e.g. in https://android-arsenal.com/tag/157. Also please keep in mind that people already have wallchangers (eg. I use Muzei). Of course I understand that this (pick a wallpaper in AcD is optional).

PS. Should we now take these feature/bug etc. discussions outside of this (NOT)Dead-Pro

[2019-07-16 23:40] CarlosACepeda commented on #115
closing as stale.

[2019-07-16 23:40] #115 closed

[2019-07-17 13:55] CarlosACepeda commented on #132
Closing as stale, I will reopen the issue if neccesary.

[2019-07-17 13:55] #132 closed

[2019-07-23 20:02] CarlosACepeda commented on #74
Closing as stale, though, Panic mode indeed causes this behavior, in stock Android it's a behavior that can't be controlled AFAIK.

[2019-07-23 20:02] #74 closed

[2019-07-23 20:04] CarlosACepeda commented on #92
Closing as stale

[2019-07-23 20:04] #92 closed

[2019-07-23 20:05] CarlosACepeda commented on #90
The thing is, if you choose a too white background or your default wallpaper is too white, then the texts of the lockscreen wouldn't be readable

[2019-07-24 09:24] wood-chris opened #158 "After unlocking you have to swipe again to show pin/pattern of the stock lockscreen"
I've installed acDisplay on a Sony XA2, and it seems to be working, but I've got the issue of the 'double unlock' others have reported. When I want to unlock my phone, I have to swipe up on acDisplay _and then_ swipe up _again_ to get to the pattern screen. Is there anyway to get to the pattern screen directly from acDisplay

[2019-07-24 09:45] wood-chris opened #159 "Clock colour?"
Would it be possible to have the option to change the clock colour during night mode? (Windows Phones had the option to change clock to red or blue for night mode)

If I decide it's not too difficult, I might be able to have a go and submit a PR

[2019-07-24 09:54] wood-chris commented on #158
I couldn't work out if this was more of an Android issue - I've asked on https://android.stackexchange.com/questions/215089/preventing-the-need-for-a-double-unlock-with-acdisplay instead

[2019-07-24 10:23] AChep commented on #158
It is possible to work around by opening an empty activity, so the system knows that the user wants to go further than just a lockscreen.

[2019-07-24 10:43] wood-chris commented on #158
Is this an option I've missed, or something to be added?

[2019-07-24 11:00] AChep commented on #158
Something that can be added.

[2019-07-24 11:38] wood-chris commented on #159
(and I've just realised that [Glance Plus](https://play.google.com/store/apps/details?id=com.thsoft.glance&hl=en_GB) has this option too - along with having upcoming calendar events on the lock screen too. I guess you don't want to recreate everything they do though :)

[2019-07-24 13:57] CarlosACepeda commented on #159
Nice one, currently we are updating the project and such because it wasn't active since a lot ago.
But sure, we can keep this into account! thanks.
Maybe you have further comments @AChep (?)

[2019-07-25 05:23] tjsuominen commented on #159
Definitely not to "copy" every new feature "others" have, but to keep things (UX/UI) minimal - which IMO has been one of key please-factors of ACD. But for sure, after making ACD fully functional on Android 9 (and beyond :), why not add something that is by common request :)

[2019-07-31 22:30] CarlosACepeda commented on #120
Closing as stale.

[2019-07-31 22:30] #120 closed

[2019-08-03 12:57] tjsuominen commented on #156
Hi @CarlosACepeda and @AChep - just out of my huge curiosity - have you been able to start "spring cleaning" the code already or mostly going through the issues / feedback on GitHub? Take your time! :)

[2019-08-06 16:42] CarlosACepeda commented on #156
In my case I'm still not being able to build the project :/
I already contacted @AChep  and he said that's he's working on that basically, but I don't know really how's that process going :/

[2019-08-09 04:37] tjsuominen commented on #156
Thx @CarlosACepeda for checking back, take your time :)

[2019-09-02 15:19] CarlosACepeda commented on #156
Okay, I was able to build the project and update the Sdk in the commit 8d2d1b1
So I will close the issue for now too.
For the OP @Beat707 : You must have to upgrade the Gradle file at Project level, using the instructions given from Android Studio for this task.
@ me if you have further questions.

[2019-09-02 15:19] #156 closed

[2019-09-03 04:20] CarlosACepeda commented on #106
Closing as stale

[2019-09-03 04:20] #106 closed

[2019-09-03 19:07] tjsuominen commented on #156
Hi @CarlosACepeda - great news! Does this mean that after a while we could expect a new release on Play Store that works on Pie based phones :)? Or is that still miles ahead?

[2019-09-03 22:18] CarlosACepeda commented on #156
I will update again the App these days so it compiles on Android Pie, and check basic funcionality/or make fixes depending on the case of course 😄

[2019-09-03 22:35] CarlosACepeda commented on #159
hi @wood-chris  Now you can build the project so take a look on the project and submit a PR to discuss here, it'll be cool.

[2019-09-03 22:51] CarlosACepeda commented on #108
Which version of AcDisplay are you running?
Anyhow, I'm closing the issue as stale, if you think it still applies feel free to comment.

[2019-09-03 22:51] #108 closed

[2019-09-04 07:30] tjsuominen commented on #156
Brilliant - for sure it takes time! As a new build/release, how about releasing the APK to Github/APKMirror or such for beta testing prior to Play Store update? Just a thought :)

[2019-10-13 00:56] CarlosACepeda commented on #99
Closed as stale, feel free to comment again if you think the issue is still relevant, however, I checked myself and this does not happen 🤷‍♂

[2019-10-13 00:56] #99 closed

[2019-10-17 20:25] CarlosACepeda opened #161 "Application crashes when Clicking a Notification that has Actions"
Simply enable application as normal and have a notification that has action buttons, click one of them when in the lockscreen and the app will crash.

Tested in my own device Xiaomi A2 Lite with Android Pie 9.

Version [4.0-debug]

[2019-10-17 22:32] CarlosACepeda commented on #113
Closed as stale, if you think it still happens feel free to comment in order to reopen the issue.

[2019-10-17 22:32] #113 closed

[2019-10-17 22:34] CarlosACepeda commented on #33
I was reviewing the code and this can be possible? @AChep
I've seen that the Album Art is resized to a smaller size then blurred (to improve performance(?))
So, if this blur gets removed, and the album art does not get resized it'll affect performance?
Or why is the album art resized?

[2019-10-17 22:36] CarlosACepeda commented on #22
Android API does not allow to remove the Keyguard when the lock option is different than 'Swipe'
(i.e. Pattern, PIN, etc.)

[2019-10-17 22:36] #22 closed

[2019-10-17 22:39] CarlosACepeda commented on #53
The swipe to unlock circle from bottom right corner and bottom left corner already does this.

[2019-10-17 22:39] #53 closed

[2019-11-07 23:03] CarlosACepeda commented on #129
Closing as stale.

[2019-11-07 23:03] #129 closed

[2020-03-03 08:27] sdbbs opened #163 "Use clock along with custom widget on AcDisplay lockscreen?"
I'm using the version of AcDisplay from f-droid (turns out, it is last updated 2015-08-02, so maybe this has been fixed since), as a lock screen replacement for recent LineageOS (I believe it corresponds to Android 9).

All I want is a lock screen that will show me clock, - and a widget from a notes application, that I can touch and open from the lockscreen.

By default, AcDisplay shows a clock -

[2020-07-16 23:45] #149 closed

[2020-07-16 23:49] CarlosACepeda commented on #149
Both of them are fixed now. :)

[2020-07-17 00:07] #118 closed

[2020-07-17 00:07] CarlosACepeda commented on #118
Okay, I got you. :)

[2020-07-17 00:09] CarlosACepeda commented on #128
Closing as stale, if you think it is still applies, then write and I'll reopen the issue.

[2020-07-17 00:09] #128 closed

[2020-07-17 00:20] CarlosACepeda commented on #102
Well, notification texts are from the App's owner(s) so any translation error in any notification is out of AcDisplay's scope, 🤔  btw, prob the text was 'Mark as read'.
Can you send screenshots, please?
I will close the issue as stale, but if you think it is still a problem, please comment some screenshots because with text is kind of hard to know such things, 😄

[2020-07-17 00:20] #102 closed

[2020-07-17 00:23] CarlosACepeda commented on #163
It hasn't been fixed, yes, you're right 😄
Currently there's not a way to do so, I am currently making some maintenance to the app, so maybe I will take it into consideration, but it'll be more of a 'no' than a 'yes' because I am not entirely familiar with the app and I am focused on updating it to be usable on newer Android versions and fixing some of the issues, :))

[2020-07-17 00:24] #163 closed

[2020-07-17 00:31] #94 closed

[2020-07-17 03:13] CarlosACepeda commented on #156
Yes, that maybe would be an option,
Current debug version is +4.0.0!, I am really sorry for all the delays, but I can release a version myself for testing.
So far I've testing on my own device but of course it is not enough.

[2020-07-17 05:11] AChep commented on #156
Wow! Amazing work, I'm excited to see the patch changes and test the apk!

[2020-07-18 07:37] #161 closed

[2021-02-02 13:00] varunpilankar commented on #158
@AChep But how to do it? Tried adding empty activity after swiping on acdisplay screen but nothing happens.

[2021-02-02 14:47] AChep commented on #158
I don't really want to search for the exact solution, but there're two steps:
1. Use a new accessibility service's feature to correctly turn the screen off, and that will fix the inability to use fingerprint to unlock.
2. When you "unlock" the AcDisplay, ask the system to open another activity. This way the system will immediately show the pattern screen.

[2021-02-03 19:32] varunpilankar commented on #158
Any of these methods works with Tasker (logcat event trigger)? Or do I have to actually make changes into the code and compile it.

[2021-02-03 19:57] AChep commented on #158
Second variant, unfortunately.

[2021-02-04 02:00] varunpilankar commented on #158
Thanks for your quick response. I'll try to have a look at the code and try to fix it as per your recommendation.

Just curious to know why you stopped working/updating this project (AcDisplay)?

[2021-02-04 05:12] AChep commented on #158
Three reasons:
1. Android started to remove/restrict a lot of APIs that made AcDisplay possible in the first place.
2. Android has a dumber version of AcDisplay (ambient mode) built in.
3. This app is free and although a lot of users did donate something (thanks guys!) this wasn't a lot and I had to find a job which reduced the time I'm able to spend on this project.

First is the biggest ones.

[2021-02-04 09:34] varunpilankar commented on #158
Understood, makes sense.

Talking over your point one, I think even Frank Monza (Kustom Industries) is facing issues with his KLCK project, but its accessibility and lock screen integration is solid but compared to AcDisplay which more stable and better performing even its a very old build till date.

[2021-05-15 18:16] AChep opened #164 "[SURVEY] A paid version of AcDisplay to keep it going"
Hola folks,

Google recently announced that apps that do not show what data they collect will be unpublished from the Play Store, which means that the AcDisplay is gonna get down.

I don't want this to happen, so there's a chance that I'll update it to be somewhat functional.
1. Some of the AcDisplay's features are gonna be hidden behind one-time _donation_ to motivate me to keep updating it. Also

[2021-05-15 18:17] AChep commented on #164
If you agree with the AcDisplay being partially paid, upvote this comment. Otherwise, downvote it!

[2021-05-16 15:10] tjsuominen commented on #164
Upvote :)

[2021-09-05 18:05] tjsuominen commented on #164
Any news / further development thoughts?

[2021-09-05 23:25] #29 closed

[2022-06-02 12:54] varunpilankar commented on #164
@AChep considered a subscription model?

I'm up for a collab if that helps speed up things and keep the project alive.

[2022-10-18 07:35] Virus1122 opened #166 "No working properly"
Not working properly so many times to send notification to show in widgets in screen if we close all applications for to settings and Star newly